.owl-carousel .owl-controls .owl-dot {float: left; background-size: cover; margin-top: 10px;}
.owl-carousel .owl-dot {float: left; background-size: cover;}

.owl-carousel .owl-controls .owl-dot {
  width: 40px !important;
  height: 40px !important;
  background-position: center center !important;
  border-radius: 20px !important;
  margin: 20px !important;
  background-size: 500% !important;

  span {
    display: none !important;
  }
}

.owl-dots {
  margin: 0 auto;
  text-align: center;
  display: table;
}

.owl-carousel h2 {
  text-align: center;
}

.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-prev {
  // display: block !important;
  margin-top: -300px !important;
  right: 100% !important;
  position: absolute !important;
}
.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-next {
  // display: block !important;
  margin-top: -300px !important;
  left: 100%;
  position: absolute !important;
}