h2.big-title {
  font-size: 48px;
  line-height: 52px;
  padding: 20px 0;
}
h3.big-title {
  font-size: 36px;
  line-height: 42px;
  padding: 20px 0;

  &.white {
    color: $white;
  }
}

p{
  &.value {
    font-size: 18px;
    font-weight: $bold;
    padding-top: 10px;
  }
  &.fee {
    font-size: 14px;
    padding-bottom: 20px;
  }
  &.white {
    color: $white;
    padding-top: 20px;
  }
}

.car-excerpt {
  padding: 40px 0;
  @include tablet {
    padding: 160px 60px;
  }
}
img.car-detail-big {
  margin-bottom: 40px;
}
.car-detail-text {
  padding: 20px 80px 60px 60px;
}


.car-detail-share {
  float: left;
  height: 42px;
  margin: 20px 0 20px 40px;

  i {
    font-size: 24px;
    line-height: 28px;
  }
  a {
    display: block;
    float: left;
    height: 28px;
    margin: 6px 10px;
    text-align: center;
    width: 28px;

    &:hover i{
      color: $light-blue;
    }
  }
}

.car-detail-action {
  margin-top: 20px;

  i {
    font-size: 24px;
    line-height: 28px;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 20px;
  }
  span {
    float: left;
  }
  a {
    height: 36px;
    text-align: center;
    display: block;

    &:hover i, span{
      color: $light-blue;
    }
  }
}

.car-info-icon {
  margin-top: 60px;
  i {
    font-size: 62px;
    color: $red;
    width: 65px;
    height: 65px;
    i {
      color: $white;
      position: absolute;
      margin-top: -65px;
      font-size: 28px;
      text-align: center;
      width: 65px;
      height: 65px;
      line-height: 65px;
      margin-left: -5px;
    }
  }
}