.star-rating {
  line-height:32px;
  font-size:18px;
  cursor: pointer;
  margin-bottom: 20px;
}
.star-rating .fa-star {
  margin-right: 2px;
  color: $grey;

  &.star-active {
    color: $red;
  }
  &:hover {
    color: $red;
  }
}

.comment {
  border-bottom: 1px solid $very-light-grey;
  height: 100%;
  display: table;
  padding-bottom: 40px;
}
.comment-left {
  padding-top: 20px;
  margin-left: -15px;
  h4 {
    padding: 10px 0;
  }
  .star-rating {
    margin-bottom: 0;
  }
}
.comment-body {
  padding-top: 10px;
  margin-left: -15px;
}