.row-eq-height {
  display: block;
  display: block;
  display: block;
  display:         block;

  @include tablet {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
  }
}

.no-padding {
  padding: 0;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
  @include tablet {
    padding-right: 15px;
    padding-left: 15px;
  }
}

section.content {
  padding-top: 120px;
  padding-bottom: 40px;
}
section.content-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}
section.content.no-padding {
  padding-top: 60px;
  padding-bottom: 0;
}
section.content-home {
  padding-top: 40px;
  padding-bottom: 60px;
}
section.content-black {
  background-color: $black;
  padding-top: 40px;
  padding-bottom: 60px;

  &.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h1 {
    float: left;
    color: $near-white;
  }
}
section.content-white {
  background-color: $white;
  padding-top: 40px;
  padding-bottom: 60px;

  &.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &.padding-extratop {
    padding-top: 80px;
  }
  &.padding-extra {
    padding-bottom: 140px;
  }
  &.padding-top {
    padding-top: 20px;

    @include tablet {
      padding-top: 160px;
    }
  }
}
section.content-grey {
  background-color: $near-white;
  padding-top: 40px;
  padding-bottom: 80px;

  &.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
section.content-red {
  background-color: $red;
  padding-top: 40px;
  padding-bottom: 120px;

  &.footer-buttons {
    padding-top: 0;
    padding-bottom: 0;
  }
}
section.bg-white {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 120px;
}
section.suscribe-bg {
  background-image: url(../img/suscribe-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
.padding-normal {
  padding: 40px 20px;
}


section.auto-bg {
  background-image: url(../img/auto-bg.jpg);
  background-position: center center;
  padding-bottom: 200px;

  @include mobile {
    padding-bottom: 260px;
  }
  @include tablet {
    padding-bottom: 460px;
  }
  @include desktop {
    padding-bottom: 640px;
  }
}

section.title-header {
  background-color: $near-white;
  padding-top: 60px;
  padding-bottom: 20px;
  background-size: cover;

  @include mobile {
    padding-top: 45px;
  }

  @include tablet {
    height: 380px;
    padding-top: 130px;
    padding-bottom: 0;
  }

  h1 {
    color: $white;
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;

    @include mobile {
      padding-top: 90px;
    }

    &:after {
      content: "";
      width: 35px;
      height: 2px;
      background: white;
      display: block;
      margin-top: 15px;
    }
  }
  &.title-comparador {
    padding-bottom: 0;
    @include mobile {
      height: 200px;
      padding-top: 71px;
    }
    @include tablet {
      padding-top: 221px;
      height: 350px;
    }
  }
  &.title-tabs {

    h3 {
      font-size: 36px;
      padding: 0 0 12px 0;
    }

    padding-bottom: 0;
    @include mobile {
      height: 200px;
      padding-top: 70px;
    }
    @include tablet {
    padding-top: 100px;
    height: 230px;
    }
  }
  &.title-resultado {
    padding-bottom: 60px;
    @include mobile {
      height: 160px;
      padding-top: 70px;
    }
    @include tablet {
      padding-top: 220px;
      height: 300px;
    }
  }
}

section.auto-nav {
  background-color: $near-white;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;

  @include mobile {
    padding-top: 20px;
  }

  @include tablet {
    padding-top: 130px;
    height: 180px;
    padding-bottom: 0 !important;
  }

  h1 {
    padding: 10px;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;

  .bg-image-block {
    height: 320px;
    @include tablet {
      height: 0;
    }
  }
}

.bg-content {
  padding: 40px 60px;
  @include mobile {
    padding: 100px;
  }
  &.bg-red, &.bg-black, &.bg-pad {
    p {
      color: $white;
      font-size: 16px;
      font-weight: $light;
    }

    h2 {
      padding-top: 0;
      color: $white;
      font-size: 36px;

      &:after {
        background-color: $white;
      }
    }
  }
}
.bg-grey {
  background-color: $near-white;
}
.bg-red {
  background-color: $red;
}
.bg-black {
  background-color: $black;
}
.bg-pad {
  padding-top: 500px;
}

.content-image {
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mobile {
    height: 360px;
  }
  @include tablet {
    height: 420px;
  }
  @include desktop {
    height: 470px;
  }
}

.pad-top {
  padding-top: 40px;
}
.pad-bottom {
  padding-bottom: 40px;
}
.no-pad-bottom {
  padding-bottom: 0 !important;
}
.no-pad-top {
  padding-top: 0 !important;
}

.breadcrumb {
  font-size: 14px;
  padding: 8px 15px 8px 0;
  background-color: transparent;
}

.image-pad {
  padding-top: 80px;
}
.image-pad img {
  margin: 0 auto;
}

hr.hr-grey {
  border-top: 1px solid $very-light-grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mobile-padding-top {
  margin-top: 40px;
  @include tablet {
    margin-top: 0;
  }
}
.desktop-padding-top {
  margin-top: 0;
  @include tablet {
    margin-top: 40px;
  }
}

.new-sim-button {
  border: 2px dashed $grey;
}
.new-sim-wrapper {
  background-color: $near-white;
  border: 2px solid $light-grey;
  height: 320px;
  margin: 14px;
  padding: 20px;
  text-align: center;
  @include speed-normal;
}
.new-sim-button:hover .new-sim-wrapper {
  background: $light-grey;
}

.new-sim-icon {
  margin-top: 100px;

  p {
    color: $grey;
  }

  i {
    font-size: 46px;
    color: $grey;
  }
}

.place-wrapper {
  background-size: cover;
  padding: 140px 0;
  margin-bottom: 30px;
  text-align: center;

  span {
    color: $white;
    font-size: 32px;
    font-weight: $light;
  }
}

span.address {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.map-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  @include tablet {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#map {
  width: 100%;
  height: 365px;
}

#mapS {
  width: 100%;
  height: 365px;
}

.modal-header {
  border-bottom: none;
}
.modal-header .close {
  margin-top: -2px;
  font-size: 46px;
  color: $white !important;
  opacity: 1;
  position: absolute;
  left: 100%;
  margin-left: 40px;
  margin-top: -60px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.close {
  text-shadow: none !important;
}
.modal-body.modal-icon {
  padding-bottom: 60px;
  text-align: center;

  i {
    color: $light-blue;
    font-size: 68px;
  }
  span {
    display: block;
    font-size: 24px;
    padding: 10px 0;
  }
}
.modal-dialog {
  margin: 80px auto !important;
}

.modal-header .close span {
  display: block;
  text-align: center;
  margin-top: -8px;
  margin-left: 2px;
}

h4.modal-title {
  font-size: 18px !important;
  text-align: center;
}

.modal-body.form-popup {
  padding: 40px 80px;
}

.modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
}