 .contact-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
  p {
    text-align: center;
  }
  h1 {
    padding: 20px 0 30px 0;
  }
}

.contact-data {
  h3, p {
    padding-left: 60px;
  }
  p {
    padding-bottom: 40px;
  }
}

.contact-info-icon {
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: block;
  padding-top: 12px;
  i {
    font-size: 28px;
    color: $red;
  }
}

.contact-info-social {
  padding-left: 50px;
  padding-top: 10px;

  a {
    margin: 0 10px;

    i {
      color: $dark-grey;
      font-size: 24px;
      text-align: center;
    }
    &:hover i {
      color: $grey;
    }
  }
}

.sede-item {
  padding-bottom: 40px;
  a h4 {
    color: $dark-grey;
    &:hover {
      color: $light-blue;
    }
  }
  p {
    font-size: 14px;
  }
}

.sede-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important;
  p {
    text-align: center;
    font-size: 14px;
    padding-right: 0;
    @include mobile {
      text-align: left;
    }
    @include tablet {
      padding-right: 60px;
    }
  }
  h4 {
    text-align: center;
    @include mobile {
      text-align: left;
    }
  }
}

.sede-info-icon {
  text-align: center;
  @include mobile {
    text-align: left;
  }
  i {
    font-size: 28px;
    color: $red;
  }
}