.comparation-list {
  padding: 20px 0 0 0;
  width: 100%;
  @include mobile {
    width: auto;
  }

  .comparation-text {
    display: none;
    @include tablet {
      display: block;
    }
  }

  .btn-primary {
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto;

    @include mobile {
      margin-bottom: 0;
    }
  }
}

.compare-item {
  float: left;
  margin-right: 40px;
  @include mobile {
    margin-right: 40px;
  }
  img {
    height: 45px;
    margin-top: 0;
    @include mobile {
      height: 60px;
      margin-top: 8px;
    }
  }
  i {
    height: 30px;
    width: 30px;
    background: transparent;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 0;
    position: absolute;
    margin-left: 80px;
    margin-top: -40px;

    @include mobile {
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 0;
      position: absolute;
      margin-top: -80px;
      margin-left: 80px;
    }
  }
}