footer {
  background-color: $black;
}

#pre-footer {
  background-color: $yellow;
  min-height: 85px;
}
.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0;

  @include tablet {
    text-align: left;
    margin: 0;
  }

  span {
    font-size: 18px;
    height: 40px;
    line-height: 40px;

    @include tablet {
      height: 85px;
      line-height: 85px;
      padding-left: 16px;
    }
  }

  i {
    display: block;
    float: none;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px;

    @include tablet {
      float: left;
      margin-right: 10px;
      line-height: 80px;
    }
  }
}
a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: $light-blue;
}

#footer {

  p {
    font-size: 14px;
    line-height: 20px;

    b {
      color: $white;
      font-size: 15px;
      font-weight: $bold;
      margin-bottom: 20px;
      display: block;
    }
  }
}
.footer-padding-top {
  padding-top: 60px;
}
.footer-contact {
  text-align: left;

  p {
    color: $white;
  }

  span {
    color: $near-white;
    display: block;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
  }
}

.footer-social-icons {
  float: left;

  @include tablet {
    margin: auto;
    width: auto;
  }

  a {
    display: block;
    height: 46px;
    float: left;
    margin-left: 0;
    span {
      color: $white;
      font-size: 15px;
      line-height: 46px;
    }
    i {
      color: $white;
      float: left;
      font-size: 22px;
      line-height: 28px;
      padding: 10px;
      height: 46px;
      text-align: center;
      width: 46px;
    }
    &:hover i, span {
      color: $light-grey;
    }
  }
}
#footer ul {
  li {
    a {
      color: $near-white;
      display: block;
      font-size: 14px;
      padding: 4px 0;

      &:hover {
        color: $light-grey;
      }
    }
  }
  &.menu-footer li {
    float: none;
    padding-right: 20px;

    @include tablet {
      float: left;
    }

    a {
      color: $white;
      font-weight: $bold;
      &:hover {
        color: $light-grey;
      }
    }
  }
}
p.footer-rights {
  color: $white;
  font-size: 12px !important;
  padding-top: 30px;
  text-align: left;

  @include tablet {
    text-align: left;
    padding-top: 16px;
  }
}

.row.padding-top {
  padding-top: 50px;
}

.footer-buttons .container {
}
.buttons-home {
  margin: 0 15px;
}
.buttons-home-wrapper {
  background-color: $red;
  overflow: hidden;
  padding: 0;

  i {
    color: $white;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;

    @include tablet {
      color: $white;
      text-align: left;
      margin: 0;
    }
  }
  span {
    color: $white;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    font-size: 16px;
    font-weight: $light;
    padding: 10px 0;

    @include mobile {
      font-size: 20px;
    }

    @include tablet {
      color: $white;
      text-align: left;
      margin: auto;
    }
  }
}
.btn-home {
  padding: 30px 16px;
}
.btn-home:hover {
  background-color: $dark-red;

  i, span {
    color: $white;
  }
}