form {
  p {
    margin-bottom: 20px;
  }

  p.p-pad {
    margin-top: 20px;
  }

  label {
    font-size: 14px;
  }

  a {
    &.form-link {
      padding-top: 30px;
    }
  }
}

form.form-base {
  margin: 30px;
}

form.form-wide {
  margin: 20px 0;
}

form.form-cols {
  padding: 30px 0;
  border-radius: 0;
  a {
    color: $light-blue;

    &:hover {
      color: $blue;
    }
  }
}

form.form-card {
  padding: 0 20px;
}
form.form-card select {
  margin: 0;
}

form.form-block {
  border-radius: 0;
  padding: 0 50px;
  a {
    color: $light-blue;
    text-decoration: underline;

    &:hover {
      color: $blue;
    }
  }
}

form.form-suscribe {
  border-radius: 0;
  padding: 0 20px;
  color: $white;

  .form-control {
    color: $white !important;
    border-bottom: 1px solid $white !important;
  }

  input {
    color: $white;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control:focus {
  border-color: $light-blue;
  box-shadow: none;
}

.form-control {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid $light-grey !important;
  padding: 6px 0px !important;
  background-color: transparent !important;
  font-size: 16px;
}

.form-control {
  height: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-register {
  margin-top: 30px;
  p {
    float: left;
    padding-bottom: 0;
    padding-right: 20px;
  }
}

textarea.form-control {
  resize: vertical;
}

.form-horizontal .checkbox-inline {
  padding-top: 16px !important;
}

.checkbox-inline, .radio-inline {
  font-weight: $regular;
}