header {
  background-color: $white;
  height: 75px;
  position: relative;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  @include mobile {
    height: 120px;
  }
  @include tablet {
    height: 130px;
    position: fixed;
  }
}

#header {
  float: left;
  height: 75px;
  width: 100%;

  @include tablet {
    height: 90px;
  }
}

#pre-header {
  background-color: $very-light-grey;
  float: left;
  height: 40px;
  width: 100%;
  display: none;

  @include tablet {
    display: block;
  }
}
.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 300px;
  height: 40px;
  @include mobile {
    padding-right: 20px;
    float: right !important;
    width: auto;
  }
}
.pre-header-icon {
  display: block;
  float: left;

  span {
    color: $dark-grey;
    float: right;
    font-size: 14px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: -10px;
  }

  i {
    color: $dark-grey;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    width: 40px;
  }
}

.header-logo {
  float: left;
  height: 90px;
  background-color: $white;
  display: none;

  @include tablet {
    display: block;
    background-color: $red;
    padding: 0 15px;
    margin-left: 15px;
  }
  @include desktop {
    padding: 0 15px;
    margin-left: 15px;
  }
}

.header-logo img {
  &.logo-tablet {
    height: 56px;
    width: 186px;
    margin-top: 16px;
    display: none;
    @include tablet {
      display: block;
    }
    @include desktop {
      display: none;
    }
  }
  &.logo-desktop {
    height: 56px;
    width: 360px;
    margin-top: 16px;
    display: none;
    @include desktop {
      display: block;
    }
  }
}

.logo-mobile {
  position: absolute;
  width: 60%;
  left: 20%;
  display: block;
  @include mobile {
    float: left;
    margin-left: 20px;
    position: relative;
    width: auto;
    left: auto;
  }
  @include tablet {
    display: none;
  }
}
.logo-mobile img {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;

  @include smallmobile {
    max-width: 250px;
  }

  @include mobile {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.header-menu {
  @include reset;
}

.navbar-collapse {
  padding: 0;
}

.header-social-icons {
  float: right;

  @include tablet {
    margin: auto;
    width: auto;
  }

  a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 0;
    span {
      color: $black;
      font-size: 15px;
      line-height: 46px;
    }
    i {
      color: $black;
      float: left;
      font-size: 20px;
      line-height: 20px;
      padding: 10px;
      height: 40px;
      text-align: center;
      width: 40px;
    }

    &:hover i, span {
      color: $grey;
    }
  }
}