// Center block
@mixin center {
    display: table;
    margin: 0 auto;
}

// Reset margin and padding
@mixin reset {
    margin: 0;
    padding: 0;
}

// Reset body
@mixin body-reset {
    @include reset;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

// Clearfix
@mixin clearfix {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@mixin speed-fast {
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}

@mixin speed-normal {
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

@mixin speed-slow {
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}

/* MEDIA QUERIES */

// Tamaños menores a 480px
@mixin smallmobile {
    @media only screen and (min-width: #{$small-width}) {
        @content;
    }
}

// Tamaños menores a 768px
@mixin mobile {
    @media only screen and (min-width: #{$mobile-width}) {
        @content;
    }
}

// Tamaños menores a 992px
@mixin tablet {
    @media only screen and (min-width: #{$tablet-width}) {
        @content;
    }
}

// Tamaños menores a 1200px
@mixin desktop {
    @media only screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

// Tamaños menores a 1200px
@mixin big {
    @media only screen and (min-width: #{$big-width}) {
        @content;
    }
}