.navbar {
  background-color: $white;
  border: none;
  margin-bottom: 0;
  min-height: 70px;
  position: relative;
}

.navbar-nav>li>a {
  padding: 0;
}

.nav>li>a {
  padding: 0;
}

ul.nav.navbar-nav {
  width: 100%;
  margin: 0;
  padding-left: 0;

  @include mobile {
    padding-left: 15px;
  }
  @include tablet {
    width: auto;
    padding-left: 0;
    padding-right: 15px;
  }
  @include desktop {
    padding-right: 15px;
  }
  @include big {
    padding-right: 30px;
  }
  li {
    border: none;
    display: table;
    text-align: center;
    > a {
      display: table-cell;
      vertical-align: middle;
      span {
        display: block;
        font-size: 15px;
        padding: 0 20px;
        text-align: left;

        @include mobile {
          font-size: 14px;
          padding: 0 8px;
        }
        @include tablet {
          display: block;
          font-size: 14px;
          padding: 0 6px;
        }
        @include desktop {
          font-size: 14px;
          padding: 0 10px;
        }
        @include big {
          font-size: 16px;
          padding: 0 20px;
        }
      }
    }
    &:first-child, &:last-child{
      border: none;
    }
    &.nav-item {
      width: 100%;
      @include mobile {
        width: auto;
      }
      > a {
        i {
          color: $dark-grey;
          height: 60px;
          width: 40px;
          line-height: 60px;
          font-size: 20px;
          @include mobile {
            line-height: 60px;
          }
          @include tablet {
            width: 60px;
            line-height: 90px;
            font-size: 24px;
          }
          &:hover {
            color: $red;
          }
        }
        span {
          color: $dark-grey;
          font-weight: $regular;
          height: 60px;
          line-height: 60px;
          border-bottom: 1px solid $very-light-grey;

          @include mobile {
            height: 60px;
            line-height: 60px;
            border-bottom: none;
          }
          @include tablet {
            height: 90px;
            line-height: 90px;
            border-bottom: none;
          }

          &:hover {
            color: $red;
          }
        }
      }
      &.nav-mob {
        display: table;
        @include mobile {
          display: none;
        }
      }
    }
  }
}

ul.nav.navbar-nav.navbar-login {
  margin-left: 0;
  @include desktop {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  li {
    > a {
      i {
        color: $blue;
        font-size: 28px;
        float: left;
        height: 32px;
        width: 32px;
        margin: 0 20px;
        @include mobile {
          float: none;
          height: 70px;
          line-height: 70px;
        }
      }
    }
    &.nav-item {
      width: 100%;
      @include mobile {
        width: auto;
      }
      > a {
        span {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          color: $dark-grey;
          font-weight: $regular;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}


.nav.navbar-nav>li>a:focus, .nav.navbar-nav>li>a:hover {
  background-color: transparent;

  span {
    color: $blue;
  }
  i {
    color: $blue;
  }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: $white;
  background-color: $blue;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  border-bottom: 1px solid $light-grey;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0;
  margin-left: 0;

  @include tablet {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  float: left;
  width: 100%;
  background: $white;
  border-bottom: none;
  transition: none;
  @include mobile {
    background: transparent !important;
    border-bottom: 2px solid $red;
  }
}
.navbar-default .navbar-nav>.drop-icon.open>a {
  border-bottom: 0;
}

.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 22px;
  border: none;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: $white;
  border: none !important;
  border-radius: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $black;
}

li.nav-item.dropdown.yamm-fw a span {

  &:after {
    font-family: FontAwesome;
    content: "\f067" !important;
    display: block !important;
    float: right !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-right: -5px;
    color: $mid-grey;

    @include mobile {
      display: none !important;
    }
  }
}

li.nav-item.dropdown.yamm-fw.open a span {

  &:after {
    font-family: FontAwesome;
    content: "\f068" !important;
    display: block !important;
    float: right !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-right: -5px;
    color: $mid-grey;

    @include mobile {
      display: none !important;
    }
  }
}

li.nav-item.dropdown.yamm-fw.open span {
  color: $red;
}

.r-tabs-accordion-title {
  background: $near-white;
}

a.r-tabs-anchor {
  display: block;
  height: 60px;
  border-bottom: 1px solid $very-light-grey;
  line-height: 60px;
  padding-left: 30px;
}

.r-tabs-accordion-title a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f067" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: $mid-grey;

  @include mobile {
    display: none !important;
  }
}

.r-tabs-state-active a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f068" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: $mid-grey;

  @include mobile {
    display: none !important;
  }
}


.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0;
}

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.r-tabs .r-tabs-panel {
  padding: 30px;
  display: none;
}

.r-tabs .r-tabs-accordion-title {
  display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none;
  }

  .r-tabs .r-tabs-accordion-title {
    display: block;
  }
}

#responsiveTabsDemo ul {
  padding-left: 120px;
  height: 60px;

  a {
    color: $dark-grey;
    line-height: 60px;
    font-size: 16px;
    padding: 0 10px;
    &:hover {
      color: $blue;
    }
  }

  &.nav.nav-tabs li {
    height: 60px;
    padding: 0;

    &.r-tabs-state-active a {
      color: $blue;
    }
  }
}

.nav-pag {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

.nav-tabs.tabs-accesories {
  li a {
    p{
      display: block !important;
      color: $dark-grey !important;
    }
    &:hover p {
      color: $blue !important;
    }
  }
  li.active a p{
    color: $blue !important;
  }
}

ul.nav.nav-tabs.tabs-accesories {
  height: auto !important;
}


.nav-tabs.tabs-detail {
  li a {
    p{
      display: block !important;
      color: $dark-grey !important;
    }
    &:hover p {
      color: $blue !important;
    }
  }
  li.active a p{
    color: $blue !important;
  }
}
ul.nav.nav-tabs.tabs-detail {
  height: auto !important;
}

.nav-tabs.tabs-detail.auto-nav  {
  li {
    float: left;
    a {
      p{
        display: block !important;
        color: $dark-grey !important;
        margin-right: 20px;
      }
      &:hover p {
        color: $dark-red !important;
      }
    }
    &:before {
      display: none;
    }
  }
  li.active a p{
    color: $red !important;
  }
}
ul.nav.nav-tabs.tabs-detail.auto-nav {
  height: auto !important;
}
p.title-auto-nav {
  float: left;
  font-size: 18px;
  line-height: 50px;
}
.auto-nav .btn-primary {
  height: 50px;
}

.nav.nav-pills {
  margin-top: 26px;
  margin-top: 25px;
}
.nav-pills>li>a {
  border-radius: 0;
  font-size: 24px;
  font-weight: $regular;
  padding: 10px 30px;
  background-color: $very-light-grey;
  color: $dark-grey;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: $red;
  background-color: $white;
}