section.content-black.news-block {
  padding: 0;
}

.news-card {
  width: 100%;

  @include tablet {
    width: 33.33%;
    width: calc(100% / 3);
    float: left;

  }

  .caption {
    background-color: $black;
    padding: 40px 40px;
    @include mobile {
      padding: 40px 80px;
    }
    min-height: 165px;
    h3 {
      color: $very-light-grey;
      padding-top: 0;
    }
    p {
      color: $very-light-grey;
    }
  }
}

.portfolio-item.item-light-grey {
  background-color: $near-white;
}
.portfolio-item.item-grey {
  background-color: $little-grey;
}
.portfolio-image {
  margin-top: -10px;
  padding: 20px 70px;
}
.portfolio-name {
  padding-top: 20px;

  p {
    color: $red;
    font-size: 16px;
    text-align: center;
  }
}

.owl-carousel {
  height: auto;
  @include tablet {
    height: 250px;
  }
  @include desktop {
    height: 300px;
  }
}

.owl-theme .owl-controls {
  height: 65px;
  background-color: $black;
  z-index: 99;
  text-align: center;
  -webkit-tap-highlight-color: transparent;


  @include tablet {
    background-color: transparent;
    margin-top: -135px;
  }
  @include desktop {
    margin-top: -162px;
  }
}

.colors-carousel.owl-theme .owl-controls {
  height: 65px;
  background-color: transparent !important;
  z-index: 99;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0 !important;
}
.owl-carousel.colors-carousel {
  height: auto !important;

  p {
    text-align: center;
    font-size: 18px;
  }
}
.owl-carousel.colors-carousel .owl-controls .owl-dot {
  margin: 0 !important;
  border-radius: 0 !important;
  width: 30px !important;
  height: 30px !important;
}
.owl-carousel.colors-carousel .owl-controls .owl-dots {
  margin-top: 20px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: $white;
  font-size: 14px;
  padding: 4px 7px;
  background: $red;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: $dark-red;
  text-decoration:none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity:.5;
  cursor:default;
}
.owl-theme .owl-dots .owl-dot{
  display:inline-block;
  zoom:1;
  *display:inline;
}
.owl-theme .owl-dots .owl-dot span{
  width:10px;
  height:10px;
  margin:5px 7px;
  background:#d6d6d6;
  display:block;
  -webkit-backface-visibility:visible;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
  background:#869791
}
.owl-prev {
  float: left;
  left: 0;
}
.owl-next {
  float: right;
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  height: 65px;
  width: 65px;
  border-radius: 0 !important;
  background-image: url("../img/arrow-left.svg") !important;
  padding: 0 !important;
  z-index: 99;
  cursor: pointer !important;
  -moz-background-size: 85px 85px !important;
  -webkit-background-size: 85px 85px !important;
  background-size: 85px 85px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  height: 65px;
  width: 65px;
  border-radius: 0 !important;
  background-image: url("../img/arrow-right.svg") !important;
  padding: 0 !important;
  z-index: 99;
  cursor: pointer !important;
  -moz-background-size: 85px 85px !important;
  -webkit-background-size: 85px 85px !important;
  background-size: 85px 85px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.portfolio-feed {}