html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  @include body-reset;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }

*, *:after, *:before {
  @include reset;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a, a > * {
  @include reset;
  @include speed-fast;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: $red;
  &:hover {
    color: $dark-red;
  }
}

a:hover, a:focus {
  color: $dark-red;
  text-decoration: none;
}

ul { list-style: none outside; }

ol { list-style-position: inside; }


img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}