.nav-search-mobile {
  display: block;
  @include mobile {
    display: none;
  }
}

form.search-form {
  width: 90%;
  margin: 0 auto;

  @include tablet {
    width: 80%;
  }
}

#search {
  background-color: $near-white;
  height: 80px;
  padding-top: 12px;

  @include tablet {
    height: 115px;
    padding-top: 32px;
  }

  i.search-icon {
    color: $mid-grey;
    font-size: 24px;
    padding: 10px 10px;
    pointer-events: none;
    position: absolute;
  }
}

#search input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 50px;
  letter-spacing: 2px;
  display: block;
  color: $dark-grey;
  width: 100%;
  float: left;
  padding-left: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  @include tablet {
    font-size: 18px;
  }
}
#search button {
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  position: relative;
  float: right;
  margin-top: -50px;

  i {
    color: $mid-grey;
    font-size: 22px;
  }

  &:hover {
    i {
      color: $dark-grey;
    }
  }
}
#search input:focus, #search button:focus {
  outline: none;
}
ul.nav.navbar-nav.navbar-right.nav-search-mobile{
  float: right;
}
ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn {
  float: right;
  margin-top: -50px;
  width: auto;

  i {
    font-size: 26px;
    margin-right: 15px;
    margin-top: -18px;
    width: 40px;
  }

}

 .search-results {
  padding: 0;
  margin-top: 40px;
  @include tablet {
    margin-top: 0;
  }

  p {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    @include desktop {
      line-height: 40px;
    }
  }
 }

.order-by {
  float: left;
  margin-top: 20px;
  @include tablet {
    float: right;
    margin-top: 0;
  }
}

select.search-order {
  width: 240px;
}

.filter-item {
  background-color: $near-white;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;

  span {
    color: $blue;
  }
  i {
    color: $blue;
    font-size: 20px;
  }
  a {
    height: 20px;
    width: 20px;
  }
}

p.search-title {
  width: 100%;
  float: left;
}