.slider {
  background-color: $grey;
  height: 540px;
  margin-top: 0;

  @include mobile {
    margin-top: 0;
  }
  @include tablet {
    height: 640px;
    margin-top: 0;
  }
  @include desktop {
    height: 780px;
  }
  @include big {
    height: 860px;
  }
  padding: 0;
}

.slider-inner {
  background-color: $grey;
  height: 280px;

  @include tablet {
    height: 360px;
  }
  @include desktop {
    height: 420px;
  }
  @include big {
    height: 470px;
  }
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0;
  @include desktop {
    padding-top: 110px;
  }
  &.swiper-inner {
    padding-top: 0 !important;
    @include desktop {
      padding-top: 0 !important;
    }
  }
  &.swiper-no-pad {
    padding-top: 0 !important;
  }
}
.swiper-slide {
  background-size: cover !important;
  background-position: center center !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px;
  @include tablet {
    right: 140px;
  }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px;
  @include tablet {
    left: 140px;
  }
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 40px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
}
.swiper-pagination-bullet {
  width: 85px;
  height: 6px;
  background: $white;
  opacity: 1;
  border-radius: none !important;
}
.swiper-pagination-bullet-active {
  background: $red;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-left.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;

  @include tablet {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}
.swiper-button-next, .swiper-button-prev {
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-right.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;

  @include tablet {
    height: 70px;
    width: 70px;
    border-radius: 35px;
  }
}

.slider-car-meta {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  padding: 30px 40px;
  width: 100%;
  margin-top: 0;

  .btn {
    padding: 10px 16px;
  }

  .btn-primary {
    margin-right: 12px;
  }

  h3 {
    padding: 30px 0 6px 0;
    font-weight: $bold;
  }

  &.slider-sede {
    padding: 80px 40px;
  }

  @include smallmobile {
    margin-left: 10%;
    margin-top: 100px;
    width: 360px;
  }

  @include mobile {
    margin-left: 10%;
    margin-top: 10%;
  }

  @include tablet {
    margin-left: 20%;
    margin-top: 20%;
  }

  @include desktop {
    margin-left: 14%;
    margin-top: 10%;
  }

  span.slider-car-name {
    color: $black;
    display: block;
    font-family: $source-sans;
    font-weight: $light;
    font-size: 28px;
    @include mobile {
      text-shadow: none;
      font-size: 36px;
      line-height: 42px;
    }

    i {
      margin-left: 10px;
      font-size: 20px;
    }

    &:after {
      content: "";
      background-color: $dark-grey;
      display: block;
      margin-top: 10px;
      height: 2px;
      width: 30px;
    }
  }
  span.slider-car-info {
    color: $black;
    display: block;
    font-family: $source-sans;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 20px;
    @include mobile {
      text-shadow: none;
    }
  }
}


.slider-car-meta-dark {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  padding: 30px 40px;
  width: 100%;
  margin-top: 0;

  .btn {
    padding: 10px 16px;
  }

  .btn-primary {
    margin-right: 12px;
  }

  h3 {
    padding: 30px 0 6px 0;
    font-weight: $bold;
    color: $white;
  }

  &.slider-sede {
    padding: 80px 40px;
  }

  @include smallmobile {
    margin-left: 10%;
    margin-top: 100px;
    width: 360px;
  }

  @include mobile {
    margin-left: 10%;
    margin-top: 10%;
  }

  @include tablet {
    margin-left: 20%;
    margin-top: 20%;
  }

  @include desktop {
    margin-left: 14%;
    margin-top: 10%;
  }

  span.slider-car-name {
    color: $white;
    display: block;
    font-family: $source-sans;
    font-weight: $light;
    font-size: 28px;
    @include mobile {
      text-shadow: none;
      font-size: 36px;
      line-height: 42px;
    }

    i {
      margin-left: 10px;
      font-size: 20px;
    }

    &:after {
      content: "";
      background-color: $white;
      display: block;
      margin-top: 10px;
      height: 2px;
      width: 30px;
    }
  }
  span.slider-car-info {
    color: $white;
    display: block;
    font-family: $source-sans;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 20px;
    @include mobile {
      text-shadow: none;
    }
  }
}