.side-nav-off {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.side-nav {
  background-color: $red;
  right: 0;
  position: fixed;
  top: 35%;
  transition: opacity 0.5s ease-in-out;
  width: 70px;
  z-index: 10;
}
a.side-nav-item {
  padding: 15px 0;
  display: block;
  height: 70px;
  border-bottom: 1px solid $light-red;

  i {
    color: $white;
    display: block;
    font-size: 20px;
    text-align: center;
  }
  span {
    color: $white;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 70px;
  }

  &:hover {
    background-color: $dark-red;
    color: $white;
  }
  &:hover i, &:hover span {
    color: $white;
  }
}