.dropdown-cars {
  background-color: $near-white;
  padding: 90px 30px 30px 30px;

  @include mobile {
    padding: 15px 20px 40px 20px;
  }
  @include big {
    padding: 15px 0 40px 0;
  }
}

.tabs-wrapper {
  width: 100%;
  height: auto;
  display: table;
}

.tab-back {
  display: none;
  padding-bottom: 0;
  padding-top: 16px;

  @include mobile {
    display: block;
  }
  @include desktop {
    padding-top: 0;
    padding-bottom: 16px;
  }
  a {
    &:hover i {
      color: $dark-red;
    }
  }
  i {
    font-size: 26px;
    color: $red;
    float: left;
    line-height: 36px;
  }
  p {
    padding-left: 40px;
    font-size: 16px;
    font-weight: $bold;
    white-space: nowrap;
    line-height: 36px;
  }
}

.tab-close {
  display: none;
  padding-bottom: 0;
  padding-top: 16px;

  @include mobile {
    display: block;
  }
  @include desktop {
    padding-top: 0;
    padding-bottom: 16px;
  }
  a {
    &:hover i {
      color: $dark-red;
    }
  }
  i {
    font-size: 36px;
    color: $red;
  }
}

.tab-close-block {
  display: block;

  a {
    &:hover i {
      color: $dark-grey;
    }
  }
  i {
    font-size: 46px;
    color: $grey;
  }
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent;
  border: none;
}

.nav-tabs > li > a {
  color: $grey;
  font-size: 18px;
  padding: 12px 20px;
}
.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0;
}
.nav-tabs>li>a:hover {
  border: none;
  background: transparent;
}


ul.nav.nav-tabs {
  height: auto;

  @include mobile {
    height: 50px;
  }

  li {
    height: 50px;
    padding-top: 10px;
    float: none;
    @include mobile {
      float: left;
    }

    &:first-child:before {
      display: none;
    }

    &:before {
      content: "";
      width: 20px;
      height: 1px;
      background: $very-light-grey;
      display: none;
      position: absolute;
      margin-top: 16px;
      margin-left: -30px;
      @include tablet {
        display: block;
      }
    }

    a {
      height: 50px;
      display: block;
      padding: 0;
      p {
        color: $light-grey;
        font-size: 14px;
        line-height: 30px;
        float: left;
        margin-right: 10px;
        display: block;

        @include tablet {
          font-size: 16px;
          margin-right: 40px;
        }
      }
      span {
        background-color: $light-grey;
        color: $white;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: block;
        float: left;
        line-height: 28px;
        text-align: center;
        margin-right: 30px;
        @include tablet {
          margin-right: 10px;
        }
      }

      &:hover {
        p { color: $red;
        }
        span {
          background-color: $red;
        }
      }
      &:focus {
        background-color: transparent;
      }
    }

    &.active {
      a {
        p {
          color: $red;
        }
        span {
          background-color: $red;
        }
      }
    }
  }
}