span.comparation-price {
  font-size: 18px;
  font-weight: $bold;
  float: left;
  width: 100%;
}
table.table-details {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}
table.table-details td {
  padding: 5px 0;
}

table.table-ficha {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;

  h3 {
    padding: 12px 0 0 0;
  }
  h4 {
    padding: 0;
  }
}
table.table-ficha td {
  padding: 10px 0;
}
table.table-ficha tr.t-title-row {
  border-bottom: 1px solid $light-grey;
}
table.table-ficha tr.t-content-row {
  border-bottom: 1px solid $very-light-grey;
}
table.table-ficha tr.last-content-row {
  border-bottom: 0;
}
table.table-ficha td.t-title {
  padding: 20px 0;
}
table.table-ficha tr.t-space {
  display: none;
  @include mobile {
    display: block;
  }
}
table.table-ficha tr.t-title-row th.st-head-row {
  background-color: $light-grey;
  color: $white;
}
table.table-ficha th.st-head-row {
  background-color: $very-light-grey;
}
table.table-ficha {
  img {
    display: none;
    @include mobile {
      display: block;
    }
  }
  h4 {
    display: none;
    @include mobile {
      display: block;
    }
  }
  button {
    display: none;
    @include mobile {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      float: left;
    }
  }
}

img.half-img {
  width: 80%;
}

.car-resume {
  text-align: center;
  display: block;
  @include mobile {
    display: none;
  }
}

tr.tr-up-border {
  border-top: 1px solid $very-light-grey;
}

table.table-auto {
  font-size: 16px;
  line-height: 36px;
  margin-top: 20px;
  width: 100%;

  i {
    color: $yellow;
    font-size: 24px;
  }
}
table.table-resume {
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
  width: 30%;
}
.t-center {
  text-align: left;
}
.t-center-mob {
  text-align: center;
  @include mobile {
    text-align: inherit;
  }
}
.t-left.t-f-left {
  float: left;
}
.t-right.t-f-right {
  float: right;
}
td.t-left img {
  width: 80px;

  @include desktop {
    width: 120px;
  }
}

table#compare-cars {
  width: 100%;
  margin-bottom: 140px;

  span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: $blue;
    font-weight: $light;
    display: block;
  }
  span.car-price {
    font-weight: $bold;
    color: $black;
    font-size: 16px;
    display: block;
  }
  td,th {
    padding: 8px 12px;
  }
  tbody tr:nth-child(even)  td { background-color: $white; }
  @media screen and (max-width: 640px) {
    table {
      overflow-x: auto;
      display: block;
    }
  }

  img {
    width: 200px;
  }

  i {
    color: $blue;
  }
}

table.stacktable.small-only {
  width: 100%;
  margin-bottom: 140px;
  display: table;

  @include mobile {
    display: none;
  }

  span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: $blue;
    font-weight: $light;
    display: block;
  }
  span.car-price {
    font-weight: $bold;
    color: $black;
    font-size: 16px;
    display: block;
  }

  td,th {
    padding: 8px 12px;
  }
  tbody tr:nth-child(even)  td { background-color: $white; }
  @media screen and (max-width: 640px) {
    table {
      overflow-x: auto;
      display: block;
    }
  }

  img {
    width: 200px;
  }

  td.st-key, td.st-val {
    width: 50%;
  }

}

table.stacktable.large-only {
  display: none;
  @include mobile {
    display: table;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


table i {

  &.circle-blue {
    color: $light-blue;
  }
  &.circle-grey {
    color: $very-light-grey;
  }
}