// VARIABLES

/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */

// Tipography
$source-sans: 'Source Sans Pro', sans-serif;

// Constants
$golden: 1.45;

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Body Size
// $body-size: em(16px);

// Line Height
$body-line: 1em;

// Letter spacing
$spacing: 0.1em;


/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */

$black: #000000;
$white: #ffffff;

$dark-red: #951526;
$red: #a61d2f;
$light-red: #b32a3c;



$yellow: #eac811;
$light-yellow: #fcdf65;

$dark-blue: #32444b;
$blue: #1b5d89;
$light-blue: #2274ac;


$near-white: #efefef;
$little-grey: #e5e5e5;
$very-light-grey: #dedede;
$light-grey: #8b949f;
$mid-grey: #666666;
$grey: #7d7f7f;
$dark-grey: #333333;


$fb-blue: #3b5999;
$light-fb-blue: #4e74b7;


/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */

$small-width: 30em; // 480px
$mobile-width: 48em; // 768px
$tablet-width: 62em; // 992px
$desktop-width: 75em; // 1200px
$big-width: 90em; // 1440px