@import "variables";
@import "mixins";
@import "reset";
@import "header";
@import "forms";
@import "checkbox";
@import "buttons";
@import "nav";
@import "stickynav";
@import "cards";
@import "tabs";
@import "tables";
@import "lists";
@import "search";
@import "slider";
@import "car";
@import "grid";
@import "lightbox";
@import "portfolio";
@import "contact";
@import "footer";
@import "favorites";
@import "common";
@import "carousel";
@import "comments";

body {
  background-color: $near-white;
  font-family: $source-sans;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $source-sans;
}

h1 {
  font-family: $source-sans;
  font-size: 28px;
  font-weight: $light;
  padding: 30px 0 40px 0;
  text-align: center;

  @include mobile {
    font-size: 36px;
    padding: 60px 0 50px 0;
  }

  &.title-left {
    padding: 10px 0;
    text-align: left;
  }
  &.title-white {
    color: $white;
    padding: 20px 0;
    text-align: left;
  }
  &.title-normal {
    padding: 30px 0;
    text-align: left;
  }
  &.title-extra {
    padding: 80px 0 40px 0;
    text-align: left;
  }
}
h2 {
  font-size: 26px;
  font-weight: $light;
  padding-top: 30px;
  padding-bottom: 30px;

  &:after {
    content: "";
    width: 35px;
    height: 2px;
    background: $dark-grey;
    display: block;
    margin-top: 15px;
  }
}
h3 {
  font-size: 24px;
  padding: 12px 0;
  font-weight: $light;

  &.subtitle {
    font-size: 20px;
    font-weight: $bold;
    text-align: center;
  }
  &.title-version {
    font-weight: $bold;
  }
}
h4 {
  font-size: 22px;
  font-weight: $light;
  padding: 20px 0;
}
h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: $regular;
}
h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: $bold;
}

h1.center-title {
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-family: $source-sans;
  font-size: 14px;

  strong {
    font-size: 16px;
  }

  &.auto-price {
    font-size: 20px;
    font-weight: $bold;
  }
}


p.small-text {
  font-size: 12px;
}

p.form-title {
  padding-left: 16px;
}

p.text-title {
  color: $blue;
  margin-top: 20px;
  font-size: 18px;
}

p.total-value {
  color: $blue;
  font-size: 18px;
}

p.no-margin {
  margin-bottom: 0;
}

p.news-date {
  padding: 20px 0;
}

p.blue {
  color: $light-blue;
}

.col-no-margin {
  margin: 0;
  padding: 0;
}


.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}