/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */
/* MEDIA QUERIES */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #a61d2f; }
  a:hover, a > *:hover {
    color: #951526; }

a:hover, a:focus {
  color: #951526;
  text-decoration: none; }

ul {
  list-style: none outside; }

ol {
  list-style-position: inside; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

header {
  background-color: #ffffff;
  height: 75px;
  position: relative;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 48em) {
    header {
      height: 120px; } }
  @media only screen and (min-width: 62em) {
    header {
      height: 130px;
      position: fixed; } }

#header {
  float: left;
  height: 75px;
  width: 100%; }
  @media only screen and (min-width: 62em) {
    #header {
      height: 90px; } }

#pre-header {
  background-color: #dedede;
  float: left;
  height: 40px;
  width: 100%;
  display: none; }
  @media only screen and (min-width: 62em) {
    #pre-header {
      display: block; } }

.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 300px;
  height: 40px; }
  @media only screen and (min-width: 48em) {
    .pre-header-contact {
      padding-right: 20px;
      float: right !important;
      width: auto; } }

.pre-header-icon {
  display: block;
  float: left; }
  .pre-header-icon span {
    color: #333333;
    float: right;
    font-size: 14px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: -10px; }
  .pre-header-icon i {
    color: #333333;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    text-align: center;
    width: 40px; }

.header-logo {
  float: left;
  height: 90px;
  background-color: #ffffff;
  display: none; }
  @media only screen and (min-width: 62em) {
    .header-logo {
      display: block;
      background-color: #a61d2f;
      padding: 0 15px;
      margin-left: 15px; } }
  @media only screen and (min-width: 75em) {
    .header-logo {
      padding: 0 15px;
      margin-left: 15px; } }

.header-logo img.logo-tablet {
  height: 56px;
  width: 186px;
  margin-top: 16px;
  display: none; }
  @media only screen and (min-width: 62em) {
    .header-logo img.logo-tablet {
      display: block; } }
  @media only screen and (min-width: 75em) {
    .header-logo img.logo-tablet {
      display: none; } }
.header-logo img.logo-desktop {
  height: 56px;
  width: 360px;
  margin-top: 16px;
  display: none; }
  @media only screen and (min-width: 75em) {
    .header-logo img.logo-desktop {
      display: block; } }

.logo-mobile {
  position: absolute;
  width: 60%;
  left: 20%;
  display: block; }
  @media only screen and (min-width: 48em) {
    .logo-mobile {
      float: left;
      margin-left: 20px;
      position: relative;
      width: auto;
      left: auto; } }
  @media only screen and (min-width: 62em) {
    .logo-mobile {
      display: none; } }

.logo-mobile img {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px; }
  @media only screen and (min-width: 30em) {
    .logo-mobile img {
      max-width: 250px; } }
  @media only screen and (min-width: 48em) {
    .logo-mobile img {
      width: 100%;
      height: auto;
      margin-top: 20px; } }

.header-menu {
  margin: 0;
  padding: 0; }

.navbar-collapse {
  padding: 0; }

.header-social-icons {
  float: right; }
  @media only screen and (min-width: 62em) {
    .header-social-icons {
      margin: auto;
      width: auto; } }
  .header-social-icons a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 0; }
    .header-social-icons a span {
      color: #000000;
      font-size: 15px;
      line-height: 46px; }
    .header-social-icons a i {
      color: #000000;
      float: left;
      font-size: 20px;
      line-height: 20px;
      padding: 10px;
      height: 40px;
      text-align: center;
      width: 40px; }
    .header-social-icons a:hover i, .header-social-icons a span {
      color: #7d7f7f; }

form p {
  margin-bottom: 20px; }
form p.p-pad {
  margin-top: 20px; }
form label {
  font-size: 14px; }
form a.form-link {
  padding-top: 30px; }

form.form-base {
  margin: 30px; }

form.form-wide {
  margin: 20px 0; }

form.form-cols {
  padding: 30px 0;
  border-radius: 0; }
  form.form-cols a {
    color: #2274ac; }
    form.form-cols a:hover {
      color: #1b5d89; }

form.form-card {
  padding: 0 20px; }

form.form-card select {
  margin: 0; }

form.form-block {
  border-radius: 0;
  padding: 0 50px; }
  form.form-block a {
    color: #2274ac;
    text-decoration: underline; }
    form.form-block a:hover {
      color: #1b5d89; }

form.form-suscribe {
  border-radius: 0;
  padding: 0 20px;
  color: #ffffff; }
  form.form-suscribe .form-control {
    color: #ffffff !important;
    border-bottom: 1px solid #ffffff !important; }
  form.form-suscribe input {
    color: #ffffff; }

.form-group {
  margin-bottom: 0; }

.form-control:focus {
  border-color: #2274ac;
  box-shadow: none; }

.form-control {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #8b949f !important;
  padding: 6px 0px !important;
  background-color: transparent !important;
  font-size: 16px; }

.form-control {
  height: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-register {
  margin-top: 30px; }
  .form-register p {
    float: left;
    padding-bottom: 0;
    padding-right: 20px; }

textarea.form-control {
  resize: vertical; }

.form-horizontal .checkbox-inline {
  padding-top: 16px !important; }

.checkbox-inline, .radio-inline {
  font-weight: 400; }

.checkbox-wrapper {
  margin-top: 40px; }

.checkbox {
  padding-left: 20px; }

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  font-size: 14px; }
  @media only screen and (min-width: 48em) {
    .checkbox label {
      font-size: 16px; } }

.checkbox span.checkbox-info {
  float: right;
  font-weight: 700;
  font-size: 14px; }
  @media only screen and (min-width: 48em) {
    .checkbox span.checkbox-info {
      font-size: 16px; } }

.checkbox label::before {
  content: "";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #333333;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1; }

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px; }

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }

.checkbox.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #a61d2f;
  border-color: #a61d2f; }

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
  font-size: 14px;
  text-align: center;
  padding: 0 6px;
  line-height: 24px; }

.checkbox-cotizar {
  height: 70px;
  border-top: 1px solid #dedede;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 4px; }

.checkbox-comparar {
  float: right;
  position: relative;
  margin-top: -50px;
  margin-right: 10px; }

/*
BUTTONS
*/
.btn {
  font-size: 16px !important;
  font-weight: 300;
  padding: 10px;
  width: 100%; }
  .btn.btn-slider {
    width: auto; }
  .btn.btn-float {
    float: left; }
  .btn.btn-mar {
    margin-right: 20px; }
  @media only screen and (min-width: 48em) {
    .btn {
      font-size: 18px;
      padding: 10px 34px;
      width: auto; } }
  .btn.btn-mar-left {
    margin-left: 0; }
    @media only screen and (min-width: 48em) {
      .btn.btn-mar-left {
        margin-left: 20px; } }
  .btn.btn-mar-right {
    margin-right: 0; }
    @media only screen and (min-width: 48em) {
      .btn.btn-mar-right {
        margin-right: 20px; } }
  .btn i {
    margin-right: 10px; }

.btn-no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.btn-default {
  margin-top: 20px; }

.btn-primary {
  background-color: #a61d2f;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-top: 20px;
  height: 42px;
  font-size: 16px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-primary:hover {
  color: #ffffff;
  background-color: #951526;
  border: none; }

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  color: #ffffff;
  background-color: #951526;
  border: none; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #ffffff;
  background-color: #951526;
  border: none; }

.btn-default {
  background-color: #000000;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-top: 20px;
  height: 42px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-default:hover {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-white {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  color: #a61d2f;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-white:hover {
  color: #951526;
  background-color: #ffffff;
  border: none; }

.btn-white.active, .btn-white:active, .open > .dropdown-toggle.btn-white, .btn-white.focus, .btn-white:focus {
  color: #1b5d89;
  background-color: #ffffff;
  border: none; }

.btn-white.active.focus, .btn-white.active:focus, .btn-white.active:hover, .btn-white:active.focus, .btn-white:active:focus, .btn-white:active:hover, .open > .dropdown-toggle.btn-white.focus, .open > .dropdown-toggle.btn-white:focus, .open > .dropdown-toggle.btn-white:hover {
  color: #1b5d89;
  background-color: #ffffff;
  border: none; }

.btn-light {
  background-color: #efefef;
  border: none;
  border-radius: 0;
  color: #a61d2f;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-light:hover {
  color: #951526;
  background-color: #efefef;
  border: none; }

.btn-light.active, .btn-light:active, .open > .dropdown-toggle.btn-light, .btn-light.focus, .btn-light:focus {
  color: #1b5d89;
  background-color: #efefef;
  border: none; }

.btn-light.active.focus, .btn-light.active:focus, .btn-light.active:hover, .btn-light:active.focus, .btn-light:active:focus, .btn-light:active:hover, .open > .dropdown-toggle.btn-light.focus, .open > .dropdown-toggle.btn-light:focus, .open > .dropdown-toggle.btn-light:hover {
  color: #1b5d89;
  background-color: #efefef;
  border: none; }

.btn-transparent {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  color: #a61d2f;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  padding: 10px 0; }

.btn-transparent:hover {
  color: #951526;
  background-color: transparent !important;
  border: none; }

.btn-transparent.active, .btn-transparent:active, .open > .dropdown-toggle.btn-transparent, .btn-transparent.focus, .btn-transparent:focus {
  color: #951526;
  background-color: transparent !important;
  border: none; }

.btn-transparent.active.focus, .btn-transparent.active:focus, .btn-transparent.active:hover, .btn-transparent:active.focus, .btn-transparent:active:focus, .btn-transparent:active:hover, .open > .dropdown-toggle.btn-transparent.focus, .open > .dropdown-toggle.btn-transparent:focus, .open > .dropdown-toggle.btn-transparent:hover {
  color: #951526;
  background-color: transparent !important;
  border: none; }

.btn-grey {
  background-color: #7d7f7f;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-top: 20px;
  height: 42px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-grey:hover {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-grey.active, .btn-grey:active, .open > .dropdown-toggle.btn-grey, .btn-grey.focus, .btn-grey:focus {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus, .btn-grey:active:focus, .btn-grey:active:hover, .open > .dropdown-toggle.btn-grey.focus, .open > .dropdown-toggle.btn-grey:focus, .open > .dropdown-toggle.btn-grey:hover {
  color: #ffffff;
  background-color: #333333;
  border: none; }

.btn-call {
  margin-top: 0;
  line-height: 32px; }
  .btn-call i {
    font-size: 32px;
    float: left;
    margin-right: 10px; }
  .btn-call p {
    float: left;
    font-weight: 700; }

.btn-facebook {
  background-color: #3b5999;
  border: none;
  border-radius: 0;
  color: #ffffff;
  margin-top: 20px;
  height: 46px;
  font-size: 18px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook.active, .btn-facebook:active, .open > .dropdown-toggle.btn-facebook, .btn-facebook.focus, .btn-facebook:focus {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook.active.focus, .btn-facebook.active:focus, .btn-facebook.active:hover, .btn-facebook:active.focus, .btn-facebook:active:focus, .btn-facebook:active:hover, .open > .dropdown-toggle.btn-facebook.focus, .open > .dropdown-toggle.btn-facebook:focus, .open > .dropdown-toggle.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none; }

.btn-facebook i {
  margin-right: 10px; }

.btn.btn-blue {
  padding: 10px 20px; }

.btn-blue {
  color: #ffffff;
  background-color: #1b5d89;
  border: none;
  margin-top: 20px;
  font-size: 16px; }

.btn-blue:hover {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.btn-blue.active, .btn-blue:active, .open > .dropdown-toggle.btn-grey, .btn-blue.focus, .btn-blue:focus {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open > .dropdown-toggle.btn-blue.focus, .open > .dropdown-toggle.btn-blue:focus, .open > .dropdown-toggle.btn-blue:hover {
  color: #ffffff;
  background-color: #2274ac;
  border: none; }

.buttons-down {
  float: right;
  margin-top: -20px; }
  .buttons-down .btn {
    margin-left: 20px;
    float: right; }

a.back-link {
  display: block;
  margin-top: 10px; }

.navbar {
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;
  min-height: 70px;
  position: relative; }

.navbar-nav > li > a {
  padding: 0; }

.nav > li > a {
  padding: 0; }

ul.nav.navbar-nav {
  width: 100%;
  margin: 0;
  padding-left: 0; }
  @media only screen and (min-width: 48em) {
    ul.nav.navbar-nav {
      padding-left: 15px; } }
  @media only screen and (min-width: 62em) {
    ul.nav.navbar-nav {
      width: auto;
      padding-left: 0;
      padding-right: 15px; } }
  @media only screen and (min-width: 75em) {
    ul.nav.navbar-nav {
      padding-right: 15px; } }
  @media only screen and (min-width: 90em) {
    ul.nav.navbar-nav {
      padding-right: 30px; } }
  ul.nav.navbar-nav li {
    border: none;
    display: table;
    text-align: center; }
    ul.nav.navbar-nav li > a {
      display: table-cell;
      vertical-align: middle; }
      ul.nav.navbar-nav li > a span {
        display: block;
        font-size: 15px;
        padding: 0 20px;
        text-align: left; }
        @media only screen and (min-width: 48em) {
          ul.nav.navbar-nav li > a span {
            font-size: 14px;
            padding: 0 8px; } }
        @media only screen and (min-width: 62em) {
          ul.nav.navbar-nav li > a span {
            display: block;
            font-size: 14px;
            padding: 0 6px; } }
        @media only screen and (min-width: 75em) {
          ul.nav.navbar-nav li > a span {
            font-size: 14px;
            padding: 0 10px; } }
        @media only screen and (min-width: 90em) {
          ul.nav.navbar-nav li > a span {
            font-size: 16px;
            padding: 0 20px; } }
    ul.nav.navbar-nav li:first-child, ul.nav.navbar-nav li:last-child {
      border: none; }
    ul.nav.navbar-nav li.nav-item {
      width: 100%; }
      @media only screen and (min-width: 48em) {
        ul.nav.navbar-nav li.nav-item {
          width: auto; } }
      ul.nav.navbar-nav li.nav-item > a i {
        color: #333333;
        height: 60px;
        width: 40px;
        line-height: 60px;
        font-size: 20px; }
        @media only screen and (min-width: 48em) {
          ul.nav.navbar-nav li.nav-item > a i {
            line-height: 60px; } }
        @media only screen and (min-width: 62em) {
          ul.nav.navbar-nav li.nav-item > a i {
            width: 60px;
            line-height: 90px;
            font-size: 24px; } }
        ul.nav.navbar-nav li.nav-item > a i:hover {
          color: #a61d2f; }
      ul.nav.navbar-nav li.nav-item > a span {
        color: #333333;
        font-weight: 400;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #dedede; }
        @media only screen and (min-width: 48em) {
          ul.nav.navbar-nav li.nav-item > a span {
            height: 60px;
            line-height: 60px;
            border-bottom: none; } }
        @media only screen and (min-width: 62em) {
          ul.nav.navbar-nav li.nav-item > a span {
            height: 90px;
            line-height: 90px;
            border-bottom: none; } }
        ul.nav.navbar-nav li.nav-item > a span:hover {
          color: #a61d2f; }
      ul.nav.navbar-nav li.nav-item.nav-mob {
        display: table; }
        @media only screen and (min-width: 48em) {
          ul.nav.navbar-nav li.nav-item.nav-mob {
            display: none; } }

ul.nav.navbar-nav.navbar-login {
  margin-left: 0; }
  @media only screen and (min-width: 75em) {
    ul.nav.navbar-nav.navbar-login {
      padding: 0;
      margin-left: 20px;
      margin-right: 20px; } }
  ul.nav.navbar-nav.navbar-login li > a i {
    color: #1b5d89;
    font-size: 28px;
    float: left;
    height: 32px;
    width: 32px;
    margin: 0 20px; }
    @media only screen and (min-width: 48em) {
      ul.nav.navbar-nav.navbar-login li > a i {
        float: none;
        height: 70px;
        line-height: 70px; } }
  ul.nav.navbar-nav.navbar-login li.nav-item {
    width: 100%; }
    @media only screen and (min-width: 48em) {
      ul.nav.navbar-nav.navbar-login li.nav-item {
        width: auto; } }
    ul.nav.navbar-nav.navbar-login li.nav-item > a span {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      color: #333333;
      font-weight: 400; }
      ul.nav.navbar-nav.navbar-login li.nav-item > a span:hover {
        color: #a61d2f; }

.nav.navbar-nav > li > a:focus, .nav.navbar-nav > li > a:hover {
  background-color: transparent; }
  .nav.navbar-nav > li > a:focus span, .nav.navbar-nav > li > a:hover span {
    color: #1b5d89; }
  .nav.navbar-nav > li > a:focus i, .nav.navbar-nav > li > a:hover i {
    color: #1b5d89; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: #1b5d89; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  border-bottom: 1px solid #8b949f; }

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0;
  margin-left: 0; }
  @media only screen and (min-width: 62em) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
      margin-right: -15px;
      margin-left: -15px; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  float: left;
  width: 100%;
  background: #ffffff;
  border-bottom: none;
  transition: none; }
  @media only screen and (min-width: 48em) {
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
      background: transparent !important;
      border-bottom: 2px solid #a61d2f; } }

.navbar-default .navbar-nav > .drop-icon.open > a {
  border-bottom: 0; }

.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 22px;
  border: none; }

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  float: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: none !important;
  border-radius: none !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000; }

li.nav-item.dropdown.yamm-fw a span:after {
  font-family: FontAwesome;
  content: "\f067" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: -5px;
  color: #666666; }
  @media only screen and (min-width: 48em) {
    li.nav-item.dropdown.yamm-fw a span:after {
      display: none !important; } }

li.nav-item.dropdown.yamm-fw.open a span:after {
  font-family: FontAwesome;
  content: "\f068" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: -5px;
  color: #666666; }
  @media only screen and (min-width: 48em) {
    li.nav-item.dropdown.yamm-fw.open a span:after {
      display: none !important; } }

li.nav-item.dropdown.yamm-fw.open span {
  color: #a61d2f; }

.r-tabs-accordion-title {
  background: #efefef; }

a.r-tabs-anchor {
  display: block;
  height: 60px;
  border-bottom: 1px solid #dedede;
  line-height: 60px;
  padding-left: 30px; }

.r-tabs-accordion-title a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f067" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: #666666; }
  @media only screen and (min-width: 48em) {
    .r-tabs-accordion-title a.r-tabs-anchor:after {
      display: none !important; } }

.r-tabs-state-active a.r-tabs-anchor:after {
  font-family: FontAwesome;
  content: "\f068" !important;
  display: block !important;
  float: right !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: #666666; }
  @media only screen and (min-width: 48em) {
    .r-tabs-state-active a.r-tabs-anchor:after {
      display: none !important; } }

.r-tabs .r-tabs-nav {
  margin: 0;
  padding: 0; }

.r-tabs .r-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none; }

.r-tabs .r-tabs-panel {
  padding: 30px;
  display: none; }

.r-tabs .r-tabs-accordion-title {
  display: none; }

.r-tabs .r-tabs-panel.r-tabs-state-active {
  display: block; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
  .r-tabs .r-tabs-nav {
    display: none; }

  .r-tabs .r-tabs-accordion-title {
    display: block; } }
#responsiveTabsDemo ul {
  padding-left: 120px;
  height: 60px; }
  #responsiveTabsDemo ul a {
    color: #333333;
    line-height: 60px;
    font-size: 16px;
    padding: 0 10px; }
    #responsiveTabsDemo ul a:hover {
      color: #1b5d89; }
  #responsiveTabsDemo ul.nav.nav-tabs li {
    height: 60px;
    padding: 0; }
    #responsiveTabsDemo ul.nav.nav-tabs li.r-tabs-state-active a {
      color: #1b5d89; }

.nav-pag {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center; }

.nav-tabs.tabs-accesories li a p {
  display: block !important;
  color: #333333 !important; }
.nav-tabs.tabs-accesories li a:hover p {
  color: #1b5d89 !important; }
.nav-tabs.tabs-accesories li.active a p {
  color: #1b5d89 !important; }

ul.nav.nav-tabs.tabs-accesories {
  height: auto !important; }

.nav-tabs.tabs-detail li a p {
  display: block !important;
  color: #333333 !important; }
.nav-tabs.tabs-detail li a:hover p {
  color: #1b5d89 !important; }
.nav-tabs.tabs-detail li.active a p {
  color: #1b5d89 !important; }

ul.nav.nav-tabs.tabs-detail {
  height: auto !important; }

.nav-tabs.tabs-detail.auto-nav li {
  float: left; }
  .nav-tabs.tabs-detail.auto-nav li a p {
    display: block !important;
    color: #333333 !important;
    margin-right: 20px; }
  .nav-tabs.tabs-detail.auto-nav li a:hover p {
    color: #951526 !important; }
  .nav-tabs.tabs-detail.auto-nav li:before {
    display: none; }
.nav-tabs.tabs-detail.auto-nav li.active a p {
  color: #a61d2f !important; }

ul.nav.nav-tabs.tabs-detail.auto-nav {
  height: auto !important; }

p.title-auto-nav {
  float: left;
  font-size: 18px;
  line-height: 50px; }

.auto-nav .btn-primary {
  height: 50px; }

.nav.nav-pills {
  margin-top: 26px;
  margin-top: 25px; }

.nav-pills > li > a {
  border-radius: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 30px;
  background-color: #dedede;
  color: #333333; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #a61d2f;
  background-color: #ffffff; }

.side-nav-off {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; }

.side-nav {
  background-color: #a61d2f;
  right: 0;
  position: fixed;
  top: 35%;
  transition: opacity 0.5s ease-in-out;
  width: 70px;
  z-index: 10; }

a.side-nav-item {
  padding: 15px 0;
  display: block;
  height: 70px;
  border-bottom: 1px solid #b32a3c; }
  a.side-nav-item i {
    color: #ffffff;
    display: block;
    font-size: 20px;
    text-align: center; }
  a.side-nav-item span {
    color: #ffffff;
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 70px; }
  a.side-nav-item:hover {
    background-color: #951526;
    color: #ffffff; }
  a.side-nav-item:hover i, a.side-nav-item:hover span {
    color: #ffffff; }

/*
THUMBNAIL CARDS
*/
@media only screen and (min-width: 75em) {
  .col-20 {
    width: 20%; } }

.thumbnail.card {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  background: #a61d2f; }
  .thumbnail.card img {
    -webkit-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms; }
  .thumbnail.card:hover img {
    opacity: 0.65; }

.thumbnail.card .caption {
  padding: 30px;
  position: absolute;
  margin-top: -126px; }

.thumbnail.card h3 {
  color: #ffffff;
  padding-top: 0; }
.thumbnail.card .details {
  color: #ffffff;
  font-size: 18px; }
.thumbnail.card.card-top {
  border-bottom: 2px solid #ffffff; }

.thumbnail.card.card-half {
  width: 100%;
  float: none; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card.card-half {
      width: 50%;
      float: left; } }
  .thumbnail.card.card-half.card-half-left {
    border-bottom: 2px solid #ffffff;
    border-left: none; }
    @media only screen and (min-width: 48em) {
      .thumbnail.card.card-half.card-half-left {
        border-bottom: none;
        border-left: 1px solid #ffffff; } }
  .thumbnail.card.card-half.card-half-right {
    border-bottom: 2px solid #ffffff;
    border-right: none; }
    @media only screen and (min-width: 48em) {
      .thumbnail.card.card-half.card-half-right {
        border-bottom: none;
        border-right: 1px solid #ffffff; } }

.thumbnail.card {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.thumbnail.card img {
  width: 100%; }

.thumbnail.card img:hover {
  opacity: 0.5; }

.thumbnail.card:hover a {
  opacity: 1;
  top: 0;
  z-index: 10; }

.thumbnail.card:hover a i {
  font-size: 32px;
  color: #ffffff;
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%); }

.thumbnail.card a {
  display: block;
  position: absolute;
  top: -100%;
  /**/
  top: 50%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit; }

.thumbnail.card-newcar {
  background-color: #efefef;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 40px;
  overflow: hidden; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-newcar {
      margin-bottom: 20px; } }
  .thumbnail.card-newcar img {
    padding: 20px 0; }
  .cotiza-list .thumbnail.card-newcar {
    padding: 0;
    margin: 0;
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .cotiza-list .thumbnail.card-newcar {
        padding: 16px 0;
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .cotiza-list .thumbnail.card-newcar {
        background-color: transparent;
        margin: 10px; } }

.thumbnail.card-newcar:hover {
  background-color: transparent; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-newcar:hover {
      background-color: #ffffff; } }

.card-btn {
  display: block;
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (min-width: 62em) {
    .card-btn {
      background-color: #ffffff;
      display: none;
      text-align: left; } }
  .card-btn a {
    cursor: pointer; }

.thumbnail.card-newcar:hover .card-btn {
  display: block; }

.thumbnail.card-newcar .caption {
  padding: 0 6px; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-newcar .caption {
      padding: 10px; } }
  @media only screen and (min-width: 75em) {
    .thumbnail.card-newcar .caption {
      padding: 10px 20px 0 20px; } }
  .thumbnail.card-newcar .caption .car-name {
    font-size: 16px;
    font-weight: 300;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 18px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 20px; } }
    @media only screen and (min-width: 90em) {
      .thumbnail.card-newcar .caption .car-name {
        font-size: 24px; } }
  .thumbnail.card-newcar .caption .car-value {
    font-size: 14px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-newcar .caption .car-value {
        font-size: 18px; } }
  .thumbnail.card-newcar .caption .car-discount {
    font-size: 12px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-newcar .caption .car-discount {
        font-size: 14px; } }
    .thumbnail.card-newcar .caption .car-discount span.tachado {
      text-decoration: line-through; }

.thumbnail.card-cotizador {
  background-color: #efefef;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 40px;
  overflow: hidden; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-cotizador {
      margin-bottom: 20px; } }
  .thumbnail.card-cotizador img {
    padding: 20px 0; }
  .cotiza-list .thumbnail.card-cotizador {
    padding: 0;
    margin: 0;
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .cotiza-list .thumbnail.card-cotizador {
        padding: 16px 0;
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .cotiza-list .thumbnail.card-cotizador {
        background-color: transparent;
        margin: 10px; } }

.thumbnail.card-newcar:hover .card-btn {
  display: block; }

.thumbnail.card-cotizador:hover {
  background-color: transparent; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-cotizador:hover {
      background-color: #dedede; } }

.thumbnail.card-cotizador .caption {
  padding: 0 6px; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-cotizador .caption {
      padding: 10px; } }
  @media only screen and (min-width: 75em) {
    .thumbnail.card-cotizador .caption {
      padding: 10px 20px 0 20px; } }
  .thumbnail.card-cotizador .caption .car-name {
    font-size: 16px;
    font-weight: 400;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap; }
  .thumbnail.card-cotizador .caption .car-value {
    font-size: 16px;
    font-weight: 700; }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-cotizador .caption .car-value {
        font-size: 20px; } }
  .thumbnail.card-cotizador .caption .car-discount {
    font-size: 12px;
    font-weight: 400; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-cotizador .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-cotizador .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-cotizador .caption .car-discount {
        font-size: 14px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-cotizador .caption .car-discount {
        font-size: 14px; } }
    .thumbnail.card-cotizador .caption .car-discount span.tachado {
      text-decoration: line-through; }

.thumbnail.card-compare {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .cotiza-list .thumbnail.card-compare {
    padding: 0;
    margin: 0;
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .cotiza-list .thumbnail.card-compare {
        padding: 16px 0;
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .cotiza-list .thumbnail.card-compare {
        background-color: transparent;
        margin: 10px; } }
  .thumbnail.card-compare form.form-card {
    display: block; }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare form.form-card {
        display: none; } }
  .thumbnail.card-compare .checkbox {
    padding-left: 0; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-compare .checkbox {
        padding-left: 20px; } }
  .thumbnail.card-compare .checkbox-comparar {
    float: none;
    position: relative;
    margin-top: 0;
    margin-left: 20px; }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-compare .checkbox-comparar {
        margin-top: -10px; } }

.thumbnail.card-compare img {
  padding: 20px; }

.thumbnail.card-compare .btn-primary {
  width: 100%;
  margin-bottom: 20px; }

.thumbnail.card-compare:hover {
  background-color: transparent; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-compare:hover {
      background-color: #efefef; } }
  .thumbnail.card-compare:hover form.form-card {
    display: block; }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare:hover form.form-card {
        display: block; } }

.thumbnail.card-compare .caption {
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-compare .caption {
      padding: 20px; } }
  @media only screen and (min-width: 75em) {
    .thumbnail.card-compare .caption {
      padding: 10px 20px 20px 20px; } }
  .thumbnail.card-compare .caption .car-name {
    font-size: 18px;
    font-weight: 300; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 18px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 20px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare .caption .car-name {
        font-size: 24px; } }
  .thumbnail.card-compare .caption .car-value {
    font-size: 14px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-compare .caption .car-value {
        font-size: 18px; } }

.form-card-wrapper {
  position: relative;
  z-index: 20;
  background-color: transparent;
  width: 100%; }
  @media only screen and (min-width: 62em) {
    .form-card-wrapper {
      position: absolute;
      z-index: 20;
      background-color: #efefef; } }

.category-list .col-xs-6 {
  padding: 0; }

.cotiza-list, .compara-list {
  margin: 20px 0; }

.thumbnail.card-accesories {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-accesories {
      background-color: #ffffff; } }
  .accesories-list .thumbnail.card-accesories {
    background-color: #ffffff; }
    @media only screen and (min-width: 48em) {
      .accesories-list .thumbnail.card-accesories {
        margin: 5px; } }
    @media only screen and (min-width: 62em) {
      .accesories-list .thumbnail.card-accesories {
        background-color: transparent;
        margin: 10px; } }

.thumbnail.card-accesories:hover {
  background-color: transparent; }
  @media only screen and (min-width: 48em) {
    .thumbnail.card-accesories:hover {
      background-color: #efefef; } }

.thumbnail.card-accesories .caption {
  padding: 0; }
  @media only screen and (min-width: 30em) {
    .thumbnail.card-accesories .caption {
      padding: 10px; } }
  .thumbnail.card-accesories .caption .accesories-name {
    font-size: 12px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 15px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-accesories .caption .accesories-name {
        font-size: 16px; } }
  .thumbnail.card-accesories .caption .accesories-value {
    font-size: 14px;
    font-weight: 700; }
    @media only screen and (min-width: 30em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 16px; } }
    @media only screen and (min-width: 48em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 14px; } }
    @media only screen and (min-width: 62em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 16px; } }
    @media only screen and (min-width: 75em) {
      .thumbnail.card-accesories .caption .accesories-value {
        font-size: 18px; } }

.accesories-list .col-xs-6 {
  padding: 0; }

.accesories-list {
  margin: 20px 0; }

.thumbnail.card-small {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms; }
  .thumbnail.card-small .description {
    padding-top: 10px;
    height: 56px;
    overflow: hidden; }
  .thumbnail.card-small a {
    font-size: 14px;
    padding-top: 4px; }

.thumbnail.card-small:hover img {
  opacity: 0.65; }
.thumbnail.card-small:hover i.card-like {
  display: block; }
  .thumbnail.card-small:hover i.card-like:before {
    content: "\f08a"; }
  .thumbnail.card-small:hover i.card-like:hover:before {
    content: "\f004"; }

.thumbnail.card-small .caption {
  padding: 20px 30px; }

.thumbnail.card-small h3 {
  color: #1b5d89;
  font-size: 20px;
  padding-top: 0; }
.thumbnail.card-small .value {
  font-size: 18px;
  font-weight: 700; }
.thumbnail.card-small table {
  margin-top: 20px; }
  .thumbnail.card-small table td p {
    font-size: 14px;
    padding-right: 20px; }

.thumbnail.card-small i.card-like-active {
  color: #eac811;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-small i.card-like-active {
      display: block;
      font-size: 24px; } }

.thumbnail.card-small i.card-like {
  color: #eac811;
  display: block;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10; }
  @media only screen and (min-width: 62em) {
    .thumbnail.card-small i.card-like {
      display: block;
      font-size: 24px; } }

.thumbnail.card-small.card-sold img {
  opacity: 0.7; }

.tag-sold {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10; }
  .tag-sold span {
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px; }

.tag-highlight {
  background-color: rgba(234, 200, 17, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10; }
  .tag-highlight span {
    color: #1b5d89;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px; }

.car-list-search .thumbnail.card-small .caption, .car-list-rel .thumbnail.card-small .caption {
  padding: 20px 16px; }
  .car-list-search .thumbnail.card-small .caption h3, .car-list-rel .thumbnail.card-small .caption h3 {
    font-size: 18px; }
  .car-list-search .thumbnail.card-small .caption .value, .car-list-rel .thumbnail.card-small .caption .value {
    font-size: 16px;
    font-weight: 700; }
  .car-list-search .thumbnail.card-small .caption table, .car-list-rel .thumbnail.card-small .caption table {
    margin-top: 10px;
    margin-bottom: 20px; }
    .car-list-search .thumbnail.card-small .caption table td p, .car-list-rel .thumbnail.card-small .caption table td p {
      font-size: 12px;
      padding-right: 20px; }
  .car-list-search .thumbnail.card-small .caption label, .car-list-rel .thumbnail.card-small .caption label {
    font-size: 14px; }

.dropdown-cars {
  background-color: #efefef;
  padding: 90px 30px 30px 30px; }
  @media only screen and (min-width: 48em) {
    .dropdown-cars {
      padding: 15px 20px 40px 20px; } }
  @media only screen and (min-width: 90em) {
    .dropdown-cars {
      padding: 15px 0 40px 0; } }

.tabs-wrapper {
  width: 100%;
  height: auto;
  display: table; }

.tab-back {
  display: none;
  padding-bottom: 0;
  padding-top: 16px; }
  @media only screen and (min-width: 48em) {
    .tab-back {
      display: block; } }
  @media only screen and (min-width: 75em) {
    .tab-back {
      padding-top: 0;
      padding-bottom: 16px; } }
  .tab-back a:hover i {
    color: #951526; }
  .tab-back i {
    font-size: 26px;
    color: #a61d2f;
    float: left;
    line-height: 36px; }
  .tab-back p {
    padding-left: 40px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    line-height: 36px; }

.tab-close {
  display: none;
  padding-bottom: 0;
  padding-top: 16px; }
  @media only screen and (min-width: 48em) {
    .tab-close {
      display: block; } }
  @media only screen and (min-width: 75em) {
    .tab-close {
      padding-top: 0;
      padding-bottom: 16px; } }
  .tab-close a:hover i {
    color: #951526; }
  .tab-close i {
    font-size: 36px;
    color: #a61d2f; }

.tab-close-block {
  display: block; }
  .tab-close-block a:hover i {
    color: #333333; }
  .tab-close-block i {
    font-size: 46px;
    color: #7d7f7f; }

.nav-tabs {
  border-bottom: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none; }

.nav-tabs > li > a {
  color: #7d7f7f;
  font-size: 18px;
  padding: 12px 20px; }

.nav-tabs > li > a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0; }

.nav-tabs > li > a:hover {
  border: none;
  background: transparent; }

ul.nav.nav-tabs {
  height: auto; }
  @media only screen and (min-width: 48em) {
    ul.nav.nav-tabs {
      height: 50px; } }
  ul.nav.nav-tabs li {
    height: 50px;
    padding-top: 10px;
    float: none; }
    @media only screen and (min-width: 48em) {
      ul.nav.nav-tabs li {
        float: left; } }
    ul.nav.nav-tabs li:first-child:before {
      display: none; }
    ul.nav.nav-tabs li:before {
      content: "";
      width: 20px;
      height: 1px;
      background: #dedede;
      display: none;
      position: absolute;
      margin-top: 16px;
      margin-left: -30px; }
      @media only screen and (min-width: 62em) {
        ul.nav.nav-tabs li:before {
          display: block; } }
    ul.nav.nav-tabs li a {
      height: 50px;
      display: block;
      padding: 0; }
      ul.nav.nav-tabs li a p {
        color: #8b949f;
        font-size: 14px;
        line-height: 30px;
        float: left;
        margin-right: 10px;
        display: block; }
        @media only screen and (min-width: 62em) {
          ul.nav.nav-tabs li a p {
            font-size: 16px;
            margin-right: 40px; } }
      ul.nav.nav-tabs li a span {
        background-color: #8b949f;
        color: #ffffff;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: block;
        float: left;
        line-height: 28px;
        text-align: center;
        margin-right: 30px; }
        @media only screen and (min-width: 62em) {
          ul.nav.nav-tabs li a span {
            margin-right: 10px; } }
      ul.nav.nav-tabs li a:hover p {
        color: #a61d2f; }
      ul.nav.nav-tabs li a:hover span {
        background-color: #a61d2f; }
      ul.nav.nav-tabs li a:focus {
        background-color: transparent; }
    ul.nav.nav-tabs li.active a p {
      color: #a61d2f; }
    ul.nav.nav-tabs li.active a span {
      background-color: #a61d2f; }

span.comparation-price {
  font-size: 18px;
  font-weight: 700;
  float: left;
  width: 100%; }

table.table-details {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px; }

table.table-details td {
  padding: 5px 0; }

table.table-ficha {
  font-size: 15px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px; }
  table.table-ficha h3 {
    padding: 12px 0 0 0; }
  table.table-ficha h4 {
    padding: 0; }

table.table-ficha td {
  padding: 10px 0; }

table.table-ficha tr.t-title-row {
  border-bottom: 1px solid #8b949f; }

table.table-ficha tr.t-content-row {
  border-bottom: 1px solid #dedede; }

table.table-ficha tr.last-content-row {
  border-bottom: 0; }

table.table-ficha td.t-title {
  padding: 20px 0; }

table.table-ficha tr.t-space {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha tr.t-space {
      display: block; } }

table.table-ficha tr.t-title-row th.st-head-row {
  background-color: #8b949f;
  color: #ffffff; }

table.table-ficha th.st-head-row {
  background-color: #dedede; }

table.table-ficha img {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha img {
      display: block; } }
table.table-ficha h4 {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha h4 {
      display: block; } }
table.table-ficha button {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.table-ficha button {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      float: left; } }

img.half-img {
  width: 80%; }

.car-resume {
  text-align: center;
  display: block; }
  @media only screen and (min-width: 48em) {
    .car-resume {
      display: none; } }

tr.tr-up-border {
  border-top: 1px solid #dedede; }

table.table-auto {
  font-size: 16px;
  line-height: 36px;
  margin-top: 20px;
  width: 100%; }
  table.table-auto i {
    color: #eac811;
    font-size: 24px; }

table.table-resume {
  font-size: 18px;
  margin-top: 20px;
  width: 100%; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left;
  width: 30%; }

.t-center {
  text-align: left; }

.t-center-mob {
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .t-center-mob {
      text-align: inherit; } }

.t-left.t-f-left {
  float: left; }

.t-right.t-f-right {
  float: right; }

td.t-left img {
  width: 80px; }
  @media only screen and (min-width: 75em) {
    td.t-left img {
      width: 120px; } }

table#compare-cars {
  width: 100%;
  margin-bottom: 140px; }
  table#compare-cars span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: #1b5d89;
    font-weight: 300;
    display: block; }
  table#compare-cars span.car-price {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    display: block; }
  table#compare-cars td, table#compare-cars th {
    padding: 8px 12px; }
  table#compare-cars tbody tr:nth-child(even) td {
    background-color: #ffffff; }
  @media screen and (max-width: 640px) {
    table#compare-cars table {
      overflow-x: auto;
      display: block; } }
  table#compare-cars img {
    width: 200px; }
  table#compare-cars i {
    color: #1b5d89; }

table.stacktable.small-only {
  width: 100%;
  margin-bottom: 140px;
  display: table; }
  @media only screen and (min-width: 48em) {
    table.stacktable.small-only {
      display: none; } }
  table.stacktable.small-only span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: #1b5d89;
    font-weight: 300;
    display: block; }
  table.stacktable.small-only span.car-price {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    display: block; }
  table.stacktable.small-only td, table.stacktable.small-only th {
    padding: 8px 12px; }
  table.stacktable.small-only tbody tr:nth-child(even) td {
    background-color: #ffffff; }
  @media screen and (max-width: 640px) {
    table.stacktable.small-only table {
      overflow-x: auto;
      display: block; } }
  table.stacktable.small-only img {
    width: 200px; }
  table.stacktable.small-only td.st-key, table.stacktable.small-only td.st-val {
    width: 50%; }

table.stacktable.large-only {
  display: none; }
  @media only screen and (min-width: 48em) {
    table.stacktable.large-only {
      display: table; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table i.circle-blue {
  color: #2274ac; }
table i.circle-grey {
  color: #dedede; }

.search-list-brands li, .search-list-years li {
  display: none; }

#view-more-brands, #view-more-years {
  color: #1b5d89;
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0; }

#view-more-brands:hover, #view-more-years:hover {
  color: #2274ac; }

.select-half {
  width: 40%;
  float: left;
  margin-right: 10px; }

.input-wide {
  width: 82%;
  float: left;
  margin-right: 10px; }

a.btn-right {
  display: block;
  float: left;
  font-size: 18px;
  height: 24px;
  margin-top: 8px;
  width: 24px; }

.nav-search-mobile {
  display: block; }
  @media only screen and (min-width: 48em) {
    .nav-search-mobile {
      display: none; } }

form.search-form {
  width: 90%;
  margin: 0 auto; }
  @media only screen and (min-width: 62em) {
    form.search-form {
      width: 80%; } }

#search {
  background-color: #efefef;
  height: 80px;
  padding-top: 12px; }
  @media only screen and (min-width: 62em) {
    #search {
      height: 115px;
      padding-top: 32px; } }
  #search i.search-icon {
    color: #666666;
    font-size: 24px;
    padding: 10px 10px;
    pointer-events: none;
    position: absolute; }

#search input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  height: 50px;
  letter-spacing: 2px;
  display: block;
  color: #333333;
  width: 100%;
  float: left;
  padding-left: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #7d7f7f; }
  @media only screen and (min-width: 62em) {
    #search input {
      font-size: 18px; } }

#search button {
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  position: relative;
  float: right;
  margin-top: -50px; }
  #search button i {
    color: #666666;
    font-size: 22px; }
  #search button:hover i {
    color: #333333; }

#search input:focus, #search button:focus {
  outline: none; }

ul.nav.navbar-nav.navbar-right.nav-search-mobile {
  float: right; }

ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn {
  float: right;
  margin-top: -50px;
  width: auto; }
  ul.nav.navbar-nav.navbar-right.nav-search-mobile li a.nav-search-mobile-btn i {
    font-size: 26px;
    margin-right: 15px;
    margin-top: -18px;
    width: 40px; }

.search-results {
  padding: 0;
  margin-top: 40px; }
  @media only screen and (min-width: 62em) {
    .search-results {
      margin-top: 0; } }
  .search-results p {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    line-height: 20px; }
    @media only screen and (min-width: 75em) {
      .search-results p {
        line-height: 40px; } }

.order-by {
  float: left;
  margin-top: 20px; }
  @media only screen and (min-width: 62em) {
    .order-by {
      float: right;
      margin-top: 0; } }

select.search-order {
  width: 240px; }

.filter-item {
  background-color: #efefef;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; }
  .filter-item span {
    color: #1b5d89; }
  .filter-item i {
    color: #1b5d89;
    font-size: 20px; }
  .filter-item a {
    height: 20px;
    width: 20px; }

p.search-title {
  width: 100%;
  float: left; }

.slider {
  background-color: #7d7f7f;
  height: 540px;
  margin-top: 0;
  padding: 0; }
  @media only screen and (min-width: 48em) {
    .slider {
      margin-top: 0; } }
  @media only screen and (min-width: 62em) {
    .slider {
      height: 640px;
      margin-top: 0; } }
  @media only screen and (min-width: 75em) {
    .slider {
      height: 780px; } }
  @media only screen and (min-width: 90em) {
    .slider {
      height: 860px; } }

.slider-inner {
  background-color: #7d7f7f;
  height: 280px;
  padding: 0; }
  @media only screen and (min-width: 62em) {
    .slider-inner {
      height: 360px; } }
  @media only screen and (min-width: 75em) {
    .slider-inner {
      height: 420px; } }
  @media only screen and (min-width: 90em) {
    .slider-inner {
      height: 470px; } }

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0; }
  @media only screen and (min-width: 75em) {
    .swiper-container {
      padding-top: 110px; } }
  .swiper-container.swiper-inner {
    padding-top: 0 !important; }
    @media only screen and (min-width: 75em) {
      .swiper-container.swiper-inner {
        padding-top: 0 !important; } }
  .swiper-container.swiper-no-pad {
    padding-top: 0 !important; }

.swiper-slide {
  background-size: cover !important;
  background-position: center center !important; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 140px; } }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 140px; } }

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 40px; }

.swiper-pagination-bullet {
  width: 85px;
  height: 6px;
  background: #ffffff;
  opacity: 1;
  border-radius: none !important; }

.swiper-pagination-bullet-active {
  background: #a61d2f; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-left.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      height: 70px;
      width: 70px;
      border-radius: 35px; } }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/arrow-right.svg");
  padding: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px; }
  @media only screen and (min-width: 62em) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      height: 70px;
      width: 70px;
      border-radius: 35px; } }

.slider-car-meta {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  padding: 30px 40px;
  width: 100%;
  margin-top: 0; }
  .slider-car-meta .btn {
    padding: 10px 16px; }
  .slider-car-meta .btn-primary {
    margin-right: 12px; }
  .slider-car-meta h3 {
    padding: 30px 0 6px 0;
    font-weight: 700; }
  .slider-car-meta.slider-sede {
    padding: 80px 40px; }
  @media only screen and (min-width: 30em) {
    .slider-car-meta {
      margin-left: 10%;
      margin-top: 100px;
      width: 360px; } }
  @media only screen and (min-width: 48em) {
    .slider-car-meta {
      margin-left: 10%;
      margin-top: 10%; } }
  @media only screen and (min-width: 62em) {
    .slider-car-meta {
      margin-left: 20%;
      margin-top: 20%; } }
  @media only screen and (min-width: 75em) {
    .slider-car-meta {
      margin-left: 14%;
      margin-top: 10%; } }
  .slider-car-meta span.slider-car-name {
    color: #000000;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 28px; }
    @media only screen and (min-width: 48em) {
      .slider-car-meta span.slider-car-name {
        text-shadow: none;
        font-size: 36px;
        line-height: 42px; } }
    .slider-car-meta span.slider-car-name i {
      margin-left: 10px;
      font-size: 20px; }
    .slider-car-meta span.slider-car-name:after {
      content: "";
      background-color: #333333;
      display: block;
      margin-top: 10px;
      height: 2px;
      width: 30px; }
  .slider-car-meta span.slider-car-info {
    color: #000000;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 48em) {
      .slider-car-meta span.slider-car-info {
        text-shadow: none; } }

.slider-car-meta-dark {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  padding: 30px 40px;
  width: 100%;
  margin-top: 0; }
  .slider-car-meta-dark .btn {
    padding: 10px 16px; }
  .slider-car-meta-dark .btn-primary {
    margin-right: 12px; }
  .slider-car-meta-dark h3 {
    padding: 30px 0 6px 0;
    font-weight: 700;
    color: #ffffff; }
  .slider-car-meta-dark.slider-sede {
    padding: 80px 40px; }
  @media only screen and (min-width: 30em) {
    .slider-car-meta-dark {
      margin-left: 10%;
      margin-top: 100px;
      width: 360px; } }
  @media only screen and (min-width: 48em) {
    .slider-car-meta-dark {
      margin-left: 10%;
      margin-top: 10%; } }
  @media only screen and (min-width: 62em) {
    .slider-car-meta-dark {
      margin-left: 20%;
      margin-top: 20%; } }
  @media only screen and (min-width: 75em) {
    .slider-car-meta-dark {
      margin-left: 14%;
      margin-top: 10%; } }
  .slider-car-meta-dark span.slider-car-name {
    color: #ffffff;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 28px; }
    @media only screen and (min-width: 48em) {
      .slider-car-meta-dark span.slider-car-name {
        text-shadow: none;
        font-size: 36px;
        line-height: 42px; } }
    .slider-car-meta-dark span.slider-car-name i {
      margin-left: 10px;
      font-size: 20px; }
    .slider-car-meta-dark span.slider-car-name:after {
      content: "";
      background-color: #ffffff;
      display: block;
      margin-top: 10px;
      height: 2px;
      width: 30px; }
  .slider-car-meta-dark span.slider-car-info {
    color: #ffffff;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 48em) {
      .slider-car-meta-dark span.slider-car-info {
        text-shadow: none; } }

h2.big-title {
  font-size: 48px;
  line-height: 52px;
  padding: 20px 0; }

h3.big-title {
  font-size: 36px;
  line-height: 42px;
  padding: 20px 0; }
  h3.big-title.white {
    color: #ffffff; }

p.value {
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px; }
p.fee {
  font-size: 14px;
  padding-bottom: 20px; }
p.white {
  color: #ffffff;
  padding-top: 20px; }

.car-excerpt {
  padding: 40px 0; }
  @media only screen and (min-width: 62em) {
    .car-excerpt {
      padding: 160px 60px; } }

img.car-detail-big {
  margin-bottom: 40px; }

.car-detail-text {
  padding: 20px 80px 60px 60px; }

.car-detail-share {
  float: left;
  height: 42px;
  margin: 20px 0 20px 40px; }
  .car-detail-share i {
    font-size: 24px;
    line-height: 28px; }
  .car-detail-share a {
    display: block;
    float: left;
    height: 28px;
    margin: 6px 10px;
    text-align: center;
    width: 28px; }
    .car-detail-share a:hover i {
      color: #2274ac; }

.car-detail-action {
  margin-top: 20px; }
  .car-detail-action i {
    font-size: 24px;
    line-height: 28px;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 20px; }
  .car-detail-action span {
    float: left; }
  .car-detail-action a {
    height: 36px;
    text-align: center;
    display: block; }
    .car-detail-action a:hover i, .car-detail-action a span {
      color: #2274ac; }

.car-info-icon {
  margin-top: 60px; }
  .car-info-icon i {
    font-size: 62px;
    color: #a61d2f;
    width: 65px;
    height: 65px; }
    .car-info-icon i i {
      color: #ffffff;
      position: absolute;
      margin-top: -65px;
      font-size: 28px;
      text-align: center;
      width: 65px;
      height: 65px;
      line-height: 65px;
      margin-left: -5px; }

.grid {
  margin-bottom: 20px; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer,
.grid-item {
  width: 33.333%; }

.grid-item {
  background: #000000;
  float: left; }

.grid-item img {
  display: block;
  max-width: 100%; }

.grid-item a:hover img {
  opacity: 0.5; }

.ekko-lightbox-container {
  position: relative; }

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%; }

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.ekko-lightbox-nav-overlay a:empty {
  width: 49%; }

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1; }

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left; }

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right; }

.ekko-lightbox .modal-footer {
  text-align: left; }

.modal-backdrop.in {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  background-color: #000000; }

.ekko-lightbox .modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: transparent; }

.ekko-lightbox .modal-header {
  border: 0;
  padding-left: 0;
  padding-right: 0; }

.ekko-lightbox .modal-header .close {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0;
  font-weight: 100;
  margin-top: 5px;
  font-size: 40px;
  margin-right: 14px; }

.ekko-lightbox .modal-header .close:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.ekko-lightbox .modal-header h4.modal-title {
  color: #fff;
  display: none;
  font-weight: 100;
  padding: 0; }

.ekko-lightbox .modal-footer {
  display: none;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 0;
  color: #fff;
  font-weight: 100;
  padding: 0; }

.ekko-lightbox-nav-overlay a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  text-shadow: none; }

section.content-black.news-block {
  padding: 0; }

.news-card {
  width: 100%; }
  @media only screen and (min-width: 62em) {
    .news-card {
      width: 33.33%;
      width: calc(100% / 3);
      float: left; } }
  .news-card .caption {
    background-color: #000000;
    padding: 40px 40px;
    min-height: 165px; }
    @media only screen and (min-width: 48em) {
      .news-card .caption {
        padding: 40px 80px; } }
    .news-card .caption h3 {
      color: #dedede;
      padding-top: 0; }
    .news-card .caption p {
      color: #dedede; }

.portfolio-item.item-light-grey {
  background-color: #efefef; }

.portfolio-item.item-grey {
  background-color: #e5e5e5; }

.portfolio-image {
  margin-top: -10px;
  padding: 20px 70px; }

.portfolio-name {
  padding-top: 20px; }
  .portfolio-name p {
    color: #a61d2f;
    font-size: 16px;
    text-align: center; }

.owl-carousel {
  height: auto; }
  @media only screen and (min-width: 62em) {
    .owl-carousel {
      height: 250px; } }
  @media only screen and (min-width: 75em) {
    .owl-carousel {
      height: 300px; } }

.owl-theme .owl-controls {
  height: 65px;
  background-color: #000000;
  z-index: 99;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  @media only screen and (min-width: 62em) {
    .owl-theme .owl-controls {
      background-color: transparent;
      margin-top: -135px; } }
  @media only screen and (min-width: 75em) {
    .owl-theme .owl-controls {
      margin-top: -162px; } }

.colors-carousel.owl-theme .owl-controls {
  height: 65px;
  background-color: transparent !important;
  z-index: 99;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 0 !important; }

.owl-carousel.colors-carousel {
  height: auto !important; }
  .owl-carousel.colors-carousel p {
    text-align: center;
    font-size: 18px; }

.owl-carousel.colors-carousel .owl-controls .owl-dot {
  margin: 0 !important;
  border-radius: 0 !important;
  width: 30px !important;
  height: 30px !important; }

.owl-carousel.colors-carousel .owl-controls .owl-dots {
  margin-top: 20px; }

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #ffffff;
  font-size: 14px;
  padding: 4px 7px;
  background: #a61d2f;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute; }

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: #951526;
  text-decoration: none; }

.owl-theme .owl-controls .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.owl-prev {
  float: left;
  left: 0; }

.owl-next {
  float: right;
  right: 0; }

.owl-carousel .owl-controls .owl-nav .owl-prev {
  height: 65px;
  width: 65px;
  border-radius: 0 !important;
  background-image: url("../img/arrow-left.svg") !important;
  padding: 0 !important;
  z-index: 99;
  cursor: pointer !important;
  -moz-background-size: 85px 85px !important;
  -webkit-background-size: 85px 85px !important;
  background-size: 85px 85px !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }

.owl-carousel .owl-controls .owl-nav .owl-next {
  height: 65px;
  width: 65px;
  border-radius: 0 !important;
  background-image: url("../img/arrow-right.svg") !important;
  padding: 0 !important;
  z-index: 99;
  cursor: pointer !important;
  -moz-background-size: 85px 85px !important;
  -webkit-background-size: 85px 85px !important;
  background-size: 85px 85px !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }

.contact-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important; }
  .contact-info p {
    text-align: center; }
  .contact-info h1 {
    padding: 20px 0 30px 0; }

.contact-data h3, .contact-data p {
  padding-left: 60px; }
.contact-data p {
  padding-bottom: 40px; }

.contact-info-icon {
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: block;
  padding-top: 12px; }
  .contact-info-icon i {
    font-size: 28px;
    color: #a61d2f; }

.contact-info-social {
  padding-left: 50px;
  padding-top: 10px; }
  .contact-info-social a {
    margin: 0 10px; }
    .contact-info-social a i {
      color: #333333;
      font-size: 24px;
      text-align: center; }
    .contact-info-social a:hover i {
      color: #7d7f7f; }

.sede-item {
  padding-bottom: 40px; }
  .sede-item a h4 {
    color: #333333; }
    .sede-item a h4:hover {
      color: #2274ac; }
  .sede-item p {
    font-size: 14px; }

.sede-info {
  padding-top: 80px !important;
  padding-bottom: 100px !important; }
  .sede-info p {
    text-align: center;
    font-size: 14px;
    padding-right: 0; }
    @media only screen and (min-width: 48em) {
      .sede-info p {
        text-align: left; } }
    @media only screen and (min-width: 62em) {
      .sede-info p {
        padding-right: 60px; } }
  .sede-info h4 {
    text-align: center; }
    @media only screen and (min-width: 48em) {
      .sede-info h4 {
        text-align: left; } }

.sede-info-icon {
  text-align: center; }
  @media only screen and (min-width: 48em) {
    .sede-info-icon {
      text-align: left; } }
  .sede-info-icon i {
    font-size: 28px;
    color: #a61d2f; }

footer {
  background-color: #000000; }

#pre-footer {
  background-color: #eac811;
  min-height: 85px; }

.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0; }
  @media only screen and (min-width: 62em) {
    .pre-footer-icon {
      text-align: left;
      margin: 0; } }
  .pre-footer-icon span {
    font-size: 18px;
    height: 40px;
    line-height: 40px; }
    @media only screen and (min-width: 62em) {
      .pre-footer-icon span {
        height: 85px;
        line-height: 85px;
        padding-left: 16px; } }
  .pre-footer-icon i {
    display: block;
    float: none;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px; }
    @media only screen and (min-width: 62em) {
      .pre-footer-icon i {
        float: left;
        margin-right: 10px;
        line-height: 80px; } }

a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: #2274ac; }

#footer p {
  font-size: 14px;
  line-height: 20px; }
  #footer p b {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    display: block; }

.footer-padding-top {
  padding-top: 60px; }

.footer-contact {
  text-align: left; }
  .footer-contact p {
    color: #ffffff; }
  .footer-contact span {
    color: #efefef;
    display: block;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0; }

.footer-social-icons {
  float: left; }
  @media only screen and (min-width: 62em) {
    .footer-social-icons {
      margin: auto;
      width: auto; } }
  .footer-social-icons a {
    display: block;
    height: 46px;
    float: left;
    margin-left: 0; }
    .footer-social-icons a span {
      color: #ffffff;
      font-size: 15px;
      line-height: 46px; }
    .footer-social-icons a i {
      color: #ffffff;
      float: left;
      font-size: 22px;
      line-height: 28px;
      padding: 10px;
      height: 46px;
      text-align: center;
      width: 46px; }
    .footer-social-icons a:hover i, .footer-social-icons a span {
      color: #8b949f; }

#footer ul li a {
  color: #efefef;
  display: block;
  font-size: 14px;
  padding: 4px 0; }
  #footer ul li a:hover {
    color: #8b949f; }
#footer ul.menu-footer li {
  float: none;
  padding-right: 20px; }
  @media only screen and (min-width: 62em) {
    #footer ul.menu-footer li {
      float: left; } }
  #footer ul.menu-footer li a {
    color: #ffffff;
    font-weight: 700; }
    #footer ul.menu-footer li a:hover {
      color: #8b949f; }

p.footer-rights {
  color: #ffffff;
  font-size: 12px !important;
  padding-top: 30px;
  text-align: left; }
  @media only screen and (min-width: 62em) {
    p.footer-rights {
      text-align: left;
      padding-top: 16px; } }

.row.padding-top {
  padding-top: 50px; }

.buttons-home {
  margin: 0 15px; }

.buttons-home-wrapper {
  background-color: #a61d2f;
  overflow: hidden;
  padding: 0; }
  .buttons-home-wrapper i {
    color: #ffffff;
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px; }
    @media only screen and (min-width: 62em) {
      .buttons-home-wrapper i {
        color: #ffffff;
        text-align: left;
        margin: 0; } }
  .buttons-home-wrapper span {
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0; }
    @media only screen and (min-width: 48em) {
      .buttons-home-wrapper span {
        font-size: 20px; } }
    @media only screen and (min-width: 62em) {
      .buttons-home-wrapper span {
        color: #ffffff;
        text-align: left;
        margin: auto; } }

.btn-home {
  padding: 30px 16px; }

.btn-home:hover {
  background-color: #951526; }
  .btn-home:hover i, .btn-home:hover span {
    color: #ffffff; }

.comparation-list {
  padding: 20px 0 0 0;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .comparation-list {
      width: auto; } }
  .comparation-list .comparation-text {
    display: none; }
    @media only screen and (min-width: 62em) {
      .comparation-list .comparation-text {
        display: block; } }
  .comparation-list .btn-primary {
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto; }
    @media only screen and (min-width: 48em) {
      .comparation-list .btn-primary {
        margin-bottom: 0; } }

.compare-item {
  float: left;
  margin-right: 40px; }
  @media only screen and (min-width: 48em) {
    .compare-item {
      margin-right: 40px; } }
  .compare-item img {
    height: 45px;
    margin-top: 0; }
    @media only screen and (min-width: 48em) {
      .compare-item img {
        height: 60px;
        margin-top: 8px; } }
  .compare-item i {
    height: 30px;
    width: 30px;
    background: transparent;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 0;
    position: absolute;
    margin-left: 80px;
    margin-top: -40px; }
    @media only screen and (min-width: 48em) {
      .compare-item i {
        height: 30px;
        width: 30px;
        line-height: 30px;
        border-radius: 0;
        position: absolute;
        margin-top: -80px;
        margin-left: 80px; } }

.row-eq-height {
  display: block;
  display: block;
  display: block;
  display: block; }
  @media only screen and (min-width: 62em) {
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.no-padding {
  padding: 0; }

.container {
  padding-right: 40px;
  padding-left: 40px; }
  @media only screen and (min-width: 62em) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }

section.content {
  padding-top: 120px;
  padding-bottom: 40px; }

section.content-normal {
  padding-top: 40px;
  padding-bottom: 40px; }

section.content.no-padding {
  padding-top: 60px;
  padding-bottom: 0; }

section.content-home {
  padding-top: 40px;
  padding-bottom: 60px; }

section.content-black {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 60px; }
  section.content-black.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px; }
  section.content-black h1 {
    float: left;
    color: #efefef; }

section.content-white {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 60px; }
  section.content-white.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px; }
  section.content-white.padding-extratop {
    padding-top: 80px; }
  section.content-white.padding-extra {
    padding-bottom: 140px; }
  section.content-white.padding-top {
    padding-top: 20px; }
    @media only screen and (min-width: 62em) {
      section.content-white.padding-top {
        padding-top: 160px; } }

section.content-grey {
  background-color: #efefef;
  padding-top: 40px;
  padding-bottom: 80px; }
  section.content-grey.padding-normal {
    padding-top: 40px;
    padding-bottom: 40px; }

section.content-red {
  background-color: #a61d2f;
  padding-top: 40px;
  padding-bottom: 120px; }
  section.content-red.footer-buttons {
    padding-top: 0;
    padding-bottom: 0; }

section.bg-white {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 120px; }

section.suscribe-bg {
  background-image: url(../img/suscribe-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0; }

.padding-normal {
  padding: 40px 20px; }

section.auto-bg {
  background-image: url(../img/auto-bg.jpg);
  background-position: center center;
  padding-bottom: 200px; }
  @media only screen and (min-width: 48em) {
    section.auto-bg {
      padding-bottom: 260px; } }
  @media only screen and (min-width: 62em) {
    section.auto-bg {
      padding-bottom: 460px; } }
  @media only screen and (min-width: 75em) {
    section.auto-bg {
      padding-bottom: 640px; } }

section.title-header {
  background-color: #efefef;
  padding-top: 60px;
  padding-bottom: 20px;
  background-size: cover; }
  @media only screen and (min-width: 48em) {
    section.title-header {
      padding-top: 45px; } }
  @media only screen and (min-width: 62em) {
    section.title-header {
      height: 380px;
      padding-top: 130px;
      padding-bottom: 0; } }
  section.title-header h1 {
    color: #ffffff;
    padding-top: 40px;
    padding-left: 10px;
    text-align: left; }
    @media only screen and (min-width: 48em) {
      section.title-header h1 {
        padding-top: 90px; } }
    section.title-header h1:after {
      content: "";
      width: 35px;
      height: 2px;
      background: white;
      display: block;
      margin-top: 15px; }
  section.title-header.title-comparador {
    padding-bottom: 0; }
    @media only screen and (min-width: 48em) {
      section.title-header.title-comparador {
        height: 200px;
        padding-top: 71px; } }
    @media only screen and (min-width: 62em) {
      section.title-header.title-comparador {
        padding-top: 221px;
        height: 350px; } }
  section.title-header.title-tabs {
    padding-bottom: 0; }
    section.title-header.title-tabs h3 {
      font-size: 36px;
      padding: 0 0 12px 0; }
    @media only screen and (min-width: 48em) {
      section.title-header.title-tabs {
        height: 200px;
        padding-top: 70px; } }
    @media only screen and (min-width: 62em) {
      section.title-header.title-tabs {
        padding-top: 100px;
        height: 230px; } }
  section.title-header.title-resultado {
    padding-bottom: 60px; }
    @media only screen and (min-width: 48em) {
      section.title-header.title-resultado {
        height: 160px;
        padding-top: 70px; } }
    @media only screen and (min-width: 62em) {
      section.title-header.title-resultado {
        padding-top: 220px;
        height: 300px; } }

section.auto-nav {
  background-color: #efefef;
  height: auto;
  padding-top: 0;
  padding-bottom: 0; }
  @media only screen and (min-width: 48em) {
    section.auto-nav {
      padding-top: 20px; } }
  @media only screen and (min-width: 62em) {
    section.auto-nav {
      padding-top: 130px;
      height: 180px;
      padding-bottom: 0 !important; } }
  section.auto-nav h1 {
    padding: 10px; }

.bg-image {
  background-size: cover;
  background-position: center center; }
  .bg-image .bg-image-block {
    height: 320px; }
    @media only screen and (min-width: 62em) {
      .bg-image .bg-image-block {
        height: 0; } }

.bg-content {
  padding: 40px 60px; }
  @media only screen and (min-width: 48em) {
    .bg-content {
      padding: 100px; } }
  .bg-content.bg-red p, .bg-content.bg-black p, .bg-content.bg-pad p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300; }
  .bg-content.bg-red h2, .bg-content.bg-black h2, .bg-content.bg-pad h2 {
    padding-top: 0;
    color: #ffffff;
    font-size: 36px; }
    .bg-content.bg-red h2:after, .bg-content.bg-black h2:after, .bg-content.bg-pad h2:after {
      background-color: #ffffff; }

.bg-grey {
  background-color: #efefef; }

.bg-red {
  background-color: #a61d2f; }

.bg-black {
  background-color: #000000; }

.bg-pad {
  padding-top: 500px; }

.content-image {
  height: 280px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 48em) {
    .content-image {
      height: 360px; } }
  @media only screen and (min-width: 62em) {
    .content-image {
      height: 420px; } }
  @media only screen and (min-width: 75em) {
    .content-image {
      height: 470px; } }

.pad-top {
  padding-top: 40px; }

.pad-bottom {
  padding-bottom: 40px; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.no-pad-top {
  padding-top: 0 !important; }

.breadcrumb {
  font-size: 14px;
  padding: 8px 15px 8px 0;
  background-color: transparent; }

.image-pad {
  padding-top: 80px; }

.image-pad img {
  margin: 0 auto; }

hr.hr-grey {
  border-top: 1px solid #dedede;
  margin-top: 10px;
  margin-bottom: 10px; }

.mobile-padding-top {
  margin-top: 40px; }
  @media only screen and (min-width: 62em) {
    .mobile-padding-top {
      margin-top: 0; } }

.desktop-padding-top {
  margin-top: 0; }
  @media only screen and (min-width: 62em) {
    .desktop-padding-top {
      margin-top: 40px; } }

.new-sim-button {
  border: 2px dashed #7d7f7f; }

.new-sim-wrapper {
  background-color: #efefef;
  border: 2px solid #8b949f;
  height: 320px;
  margin: 14px;
  padding: 20px;
  text-align: center;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms; }

.new-sim-button:hover .new-sim-wrapper {
  background: #8b949f; }

.new-sim-icon {
  margin-top: 100px; }
  .new-sim-icon p {
    color: #7d7f7f; }
  .new-sim-icon i {
    font-size: 46px;
    color: #7d7f7f; }

.place-wrapper {
  background-size: cover;
  padding: 140px 0;
  margin-bottom: 30px;
  text-align: center; }
  .place-wrapper span {
    color: #ffffff;
    font-size: 32px;
    font-weight: 300; }

span.address {
  text-align: center;
  display: block;
  margin-bottom: 40px; }

.map-wrapper {
  margin-top: 40px;
  margin-bottom: 40px; }
  @media only screen and (min-width: 62em) {
    .map-wrapper {
      margin-top: 0;
      margin-bottom: 0; } }

#map {
  width: 100%;
  height: 365px; }

#mapS {
  width: 100%;
  height: 365px; }

.modal-header {
  border-bottom: none; }

.modal-header .close {
  margin-top: -2px;
  font-size: 46px;
  color: #ffffff !important;
  opacity: 1;
  position: absolute;
  left: 100%;
  margin-left: 40px;
  margin-top: -60px;
  width: 50px;
  height: 50px;
  border-radius: 25px; }

.close {
  text-shadow: none !important; }

.modal-body.modal-icon {
  padding-bottom: 60px;
  text-align: center; }
  .modal-body.modal-icon i {
    color: #2274ac;
    font-size: 68px; }
  .modal-body.modal-icon span {
    display: block;
    font-size: 24px;
    padding: 10px 0; }

.modal-dialog {
  margin: 80px auto !important; }

.modal-header .close span {
  display: block;
  text-align: center;
  margin-top: -8px;
  margin-left: 2px; }

h4.modal-title {
  font-size: 18px !important;
  text-align: center; }

.modal-body.form-popup {
  padding: 40px 80px; }

.modal-content {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important; }

.owl-carousel .owl-controls .owl-dot {
  float: left;
  background-size: cover;
  margin-top: 10px; }

.owl-carousel .owl-dot {
  float: left;
  background-size: cover; }

.owl-carousel .owl-controls .owl-dot {
  width: 40px !important;
  height: 40px !important;
  background-position: center center !important;
  border-radius: 20px !important;
  margin: 20px !important;
  background-size: 500% !important; }
  .owl-carousel .owl-controls .owl-dot span {
    display: none !important; }

.owl-dots {
  margin: 0 auto;
  text-align: center;
  display: table; }

.owl-carousel h2 {
  text-align: center; }

.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-prev {
  margin-top: -300px !important;
  right: 100% !important;
  position: absolute !important; }

.owl-carousel.colors-carousel .owl-controls .owl-nav .owl-next {
  margin-top: -300px !important;
  left: 100%;
  position: absolute !important; }

.star-rating {
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px; }

.star-rating .fa-star {
  margin-right: 2px;
  color: #7d7f7f; }
  .star-rating .fa-star.star-active {
    color: #a61d2f; }
  .star-rating .fa-star:hover {
    color: #a61d2f; }

.comment {
  border-bottom: 1px solid #dedede;
  height: 100%;
  display: table;
  padding-bottom: 40px; }

.comment-left {
  padding-top: 20px;
  margin-left: -15px; }
  .comment-left h4 {
    padding: 10px 0; }
  .comment-left .star-rating {
    margin-bottom: 0; }

.comment-body {
  padding-top: 10px;
  margin-left: -15px; }

body {
  background-color: #efefef;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif; }

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 300;
  padding: 30px 0 40px 0;
  text-align: center; }
  @media only screen and (min-width: 48em) {
    h1 {
      font-size: 36px;
      padding: 60px 0 50px 0; } }
  h1.title-left {
    padding: 10px 0;
    text-align: left; }
  h1.title-white {
    color: #ffffff;
    padding: 20px 0;
    text-align: left; }
  h1.title-normal {
    padding: 30px 0;
    text-align: left; }
  h1.title-extra {
    padding: 80px 0 40px 0;
    text-align: left; }

h2 {
  font-size: 26px;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 30px; }
  h2:after {
    content: "";
    width: 35px;
    height: 2px;
    background: #333333;
    display: block;
    margin-top: 15px; }

h3 {
  font-size: 24px;
  padding: 12px 0;
  font-weight: 300; }
  h3.subtitle {
    font-size: 20px;
    font-weight: 700;
    text-align: center; }
  h3.title-version {
    font-weight: 700; }

h4 {
  font-size: 22px;
  font-weight: 300;
  padding: 20px 0; }

h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: 400; }

h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 700; }

h1.center-title {
  text-align: center;
  padding-bottom: 40px; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px; }
  p strong {
    font-size: 16px; }
  p.auto-price {
    font-size: 20px;
    font-weight: 700; }

p.small-text {
  font-size: 12px; }

p.form-title {
  padding-left: 16px; }

p.text-title {
  color: #1b5d89;
  margin-top: 20px;
  font-size: 18px; }

p.total-value {
  color: #1b5d89;
  font-size: 18px; }

p.no-margin {
  margin-bottom: 0; }

p.news-date {
  padding: 20px 0; }

p.blue {
  color: #2274ac; }

.col-no-margin {
  margin: 0;
  padding: 0; }

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0; }

/*# sourceMappingURL=styles.css.map */
